.consent-modal .modal {
  overflow-y: hidden;

  .modal-wrap {
    // Originally this is a `table-cell` but the consent form is not embed within
    // a CSS `table`
    display: block !important;
  }

  .consent-content {
    width: 50%;
    min-width: 100rem;
    margin-top: 5vh !important;
    margin-bottom: 5vh !important;
    padding: 1rem;
    border: none;
    box-shadow: none;

    @media only screen and (max-height: 800px) {
      // margin-top: 0 !important;
      // margin-bottom: 0 !important;
    }

    .consent-legal {
      overflow-y: scroll;
      max-height: 84vh;
      padding: 0 3rem;
      border: 2px solid $eapp-grey;

      hr {
        margin-top: 4rem;
      }
    }

    .consent-acceptance {
      display: block;
      margin: 1rem auto 0;
      padding: 2rem;
    }

    .field {
      .title {
        max-width: initial;
      }

      .table > .content > .component > div {
        max-width: initial;
      }
    }
  }
}
