.hospitalization {
  .admission {
    .block label {
      font-weight: 600;
      width: 20rem;
      padding: 0.5rem;

      div {
        p {
          margin-bottom: 0.4rem;
        }
      }
    }
  }
}
