.deliquent {
  .deliquent-name,
  .deliquent-infractions,
  .deliquent-accountnumber,
  .deliquent-propertytype,
  .deliquent-amount,
  .deliquent-reason,
  .deliquent-status,
  .deliquent-date,
  .deliquent-resolved,
  .deliquent-courtname,
  .deliquent-courtaddress,
  .deliquent-description {
    display: inline-block;
    max-width: 64rem;
    width: 92%;
  }

  .deliquent-infractions {
    z-index: 1;

    label::before {
      vertical-align: top !important;
      margin-top: 0.8rem !important;
    }

    label > span > div {
      display: inline-block;
      width: 90%;
      text-align: left;
    }
  }

  .deliquent-date,
  .deliquent-resolved {
    width: initial !important;
  }

  .fa.fa-dollar {
    margin-left: -2rem;
  }

  .deliquent-amount {
    width: 100%;
    margin-left: 1rem;

    label {
      margin-left: 1rem;
    }
  }

  .deliquent-amount.coupled-flags {
    clear: both;
    z-index: 1;

    .eapp-blocks-checkbox {
      float: right;

      label.no-toggle {
        margin-right: 0 !important;
      }
    }
  }
}
