#hair-color-bald {
	fill:#5b606b;
}
#hair-color-black {
	fill:#000;
}
#hair-color-blonde {
	fill:#e6e199;
    stroke:#aeac8c;
    stroke-linecap:round;
}
#hair-color-brown {
	fill:#4f3424;
}
#hair-color-gray {
	fill:#c7c7c7;
}
#hair-color-red {
	fill:#b54934;
}
#hair-color-sandy {
	fill:#b29877;
}
#hair-color-white {
	fill:#fff;
    stroke:#c4c4c4;
    stroke-linecap:round;
}
#hair-color-blue {
	fill:#79b8d9;
}
#hair-color-green {
	fill:#469f3c;
}
#hair-color-orange {
	fill:#d06a33;
}
#hair-color-pink {
	fill:#e87e9c;
}
#hair-color-purple {
	fill:purple;
}
#hair-color-unknown {
	fill:#5b606b;
}