.hair-colors {
  .blocks {
    .block label {
      width: 14rem;
    }

    .hair-icon.bald svg path {
      fill: $eapp-grey-darker;
    }

    .hair-icon.black svg path {
      fill: #000;
    }

    .hair-icon.blonde svg path {
      fill: #e6e199;
      stroke: #aeac8c;
      stroke-linecap: round;
    }

    .hair-icon.brown svg path {
      fill: #4f3424;
    }

    .hair-icon.gray svg path {
      fill: #c7c7c7;
    }

    .hair-icon.red svg path {
      fill: #b54934;
    }

    .hair-icon.sandy svg path {
      fill: #b29877;
    }

    .hair-icon.white svg path {
      fill: #fff;
      stroke: #c4c4c4;
      stroke-linecap: round;
    }

    .hair-icon.blue svg path {
      fill: #79b8d9;
    }

    .hair-icon.green svg path {
      fill: #469f3c;
    }

    .hair-icon.orange svg path {
      fill: #d06a33;
    }

    .hair-icon.pink svg path {
      fill: #e87e9c;
    }

    .hair-icon.purple svg path {
      fill: purple;
    }

    .hair-icon.unknown svg path {
      fill: $eapp-grey-darker;
    }
  }
}
