.datecontrol {
  display: inline-block !important;
  width: auto !important;

  .month {
    width: 7rem;
    display: inline-block;
    margin-right: 1rem;
    vertical-align: top;
  }

  .day {
    width: 7rem;
    display: inline-block;
    margin-right: 1rem;
    vertical-align: top;
  }

  .year {
    width: 8.5rem;
    display: inline-block;
    vertical-align: top;
  }

  .flags > .block {
    margin-right: -20px;
  }
}

.datecontrol.day-hidden {
  .day {
    display: none;
  }
}

.datecontrol.month-hidden {
  .month {
    display: none;
  }
}
