.datecontrol {
    .usa-form-group-month {
        width: 14rem;

        input {}
    }

    .usa-form-group-day {
        width: 7rem;

        input {}
    }

    .usa-form-group-year {
        width: 8.5rem;

        input {}
    }

    .coupled-flags {
        clear: both;
        padding-left: 22.5rem;
    }
}

.datecontrol.day-hidden {
    .usa-form-group-day {
        display: none;
    }
    .coupled-flags {
        padding-left: 14rem;
    }
}
