.datecontrol {
  display: inline-block;

  .month {
    width: 14rem;
    display: inline-block;
    margin-right: 1rem;
    vertical-align: top;
  }

  .day {
    width: 7rem;
    display: inline-block;
    margin-right: 1rem;
    vertical-align: top;
  }

  .year {
    width: 8.5rem;
    display: inline-block;
    vertical-align: top;
  }

  .coupled-flags {
    clear: both;
    padding-left: 21.5rem;
    z-index: 1;
  }
}

.datecontrol.day-hidden {
  .day {
    display: none;
  }

  .coupled-flags {
    padding-left: 14rem;
  }
}
