.datecontrol {
  display: inline-block;
  width: auto;

  .month,
  .day,
  .year {
    width: 7rem;
    display: inline-block;
    margin-right: .5rem;
    vertical-align: top;
  }

  .year {
    width: 8rem;
  }
}

.datecontrol.day-hidden {
  .day {
    display: none;
  }
}

.datecontrol.month-hidden {
  .month {
    display: none;
  }
}

@media all and (max-width: 1200px) {
  .datecontrol-container {
    display: flex;
  }
  .datecontrol {
    width: 100%;
    .month,
    .day,
    .year {
      width: auto;
    }
  }
}
