/* define fonts and weights for use within eApp */

/* serif face */
$eapp-serif: 'Merriweather', serif;

/* sans serif face */
$eapp-sans: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Roboto', 'Arial',
  sans-serif;

/* weights */
$eapp-light: 300;
$eapp-book: 400;
$eapp-bold: 700;
