/* define colors for use within the eApp */

/* blues */
$eapp-blue-darkest: #194b88;
$eapp-blue-dark: #205493;
$eapp-blue: #0071bc;
$eapp-blue-light: #00a6d2;
$eapp-blue-lighter: #9bdaf0;
$eapp-blue-lightest: #e0f3f8;

/* greens */
$eapp-green-dark: #0b3d16;
$eapp-green: #47a362;

/* reds */
$eapp-red-lightest: #f9dede;
$eapp-red-light: #e3b3b3;
$eapp-red: #e21c3c;

/* greys */
$eapp-grey-lightest: #dce3ee;
$eapp-grey-light: #f7f7f7;
$eapp-grey: #d6d7d9;
$eapp-grey-dark: #212121;
$eapp-grey-darker: #5b606b;
