/* define colors for use within the eApp */

/* blues */
$eapp-blue-darkest: #194b88;
$eapp-blue-dark: #205493;
$eapp-blue: $color-blue;
$eapp-blue-light: $color-aqua-dark;
$eapp-blue-lighter: #9bdaf0;
$eapp-blue-lightest: #e0f3f8;

/* greens */
$eapp-green-dark: #0b3d16;
$eapp-green: #47a362;
$eapp-selected: #2b8746;

/* reds */
$eapp-red-lightest: $color-red-lightest;
$eapp-red-light: #e3b3b3;
$eapp-red: #e21c3c;

/* greys */
$eapp-grey-placeholder: #5c5c5c;
$eapp-grey-lightest: #dce3ee;
$eapp-grey-light: #f7f7f7;
$eapp-grey: $color-gray-lighter;
$eapp-grey-dark: $color-black-light;
$eapp-grey-darker: #5b606b;
$eapp-grey-disabled: $color-gray-medium;
