@import 'eqip-colors';
@import 'eqip-fonts';

html {
  -webkit-overflow-scrolling: touch;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3;
  margin-top: 5rem;
}

h2 {
  line-height: 1.6;
  margin-top: 0;
}

h3 {
  font-size: 1.85rem;
  margin-top: 1.5rem;
  line-height: 1.7;
}

h4 {
  font-size: 1.7rem;
  line-height: 1.7;
}

h5 {
  font-size: 1.6rem;
  line-height: 1.6;
}

h6 {
  font-size: 1.5rem;
  line-height: 1.7;
}

ul {
  margin-top: 0;
}

/* design needs a touch more line height than standards */
a {
  text-decoration: underline;
  text-decoration-color: $eapp-blue;
  text-decoration-style: dashed;
  text-underline-position: under;
}

a:focus {
  box-shadow: none;
}

/* set up structure to go from a table-style to floated block style */
.eapp-structure-wrap {
  display: table;
  width: 100%;

  .eapp-structure-row {
    display: table-row;

    .eapp-structure-left,
    .eapp-structure-right {
      display: table-cell;
      vertical-align: top;
    }

    .eapp-structure-left {
      width: 21%;
      height: 100vh;
      min-width: 32rem;
    }

    .eapp-structure-right {
      width: 79%;
      padding: 0 17.5%;

      &.eapp-title {
        vertical-align: bottom;
      }

      .eapp-form,
      > .title {
        width: 100%;
        max-width: 106rem;
        min-width: 70rem;
        margin: 0 auto 2rem auto;
      }

      .eapp-form {
        padding-bottom: 2rem;
      }
    }
  }

  p {
    line-height: 1.6;
    margin-top: 0;
  }
}

.usa-header {
  font-family: $eapp-serif;
  background-color: $eapp-blue-dark;
  min-height: 16.7rem;
  border-bottom: none;

  .usa-banner-inner {
    margin: 0;
    max-width: none;

    .usa-banner-button {
      display: inline-block;
      width: auto;
      height: auto;
    }
  }

  .eapp-header {
    min-height: 14.5rem;

    .eapp-logo {
      height: 14.5rem;
      background: $eapp-blue-darkest;
      color: $eapp-blue-lighter;

      .eapp-logo-icon {
        display: inline-block;
        height: 8rem;
        width: 8rem;
        margin-left: 10%;
        vertical-align: middle;
      }

      .eapp-logo-text {
        display: inline-block;
        margin-left: 2rem;
        font-size: 3rem;
        font-weight: $eapp-bold;
        margin-top: 4.7rem;
      }
    }

    /* logout control */
    .eapp-logout {
      position: absolute;
      right: 0;
      top: 2.2rem;
      z-index: 100;
      font-family: $eapp-sans;
      font-size: 1.6rem;

      button {
        display: inline-block;
        color: $eapp-grey;
        background: none;
        font-weight: initial;
        font-size: 1.6rem;

        &:hover {
          color: #fff;
        }
      }

      a {
        display: inline-block;
        padding: 1rem 1.5rem;
        color: $eapp-grey;
        text-decoration: none;

        &:hover {
          color: #fff;
        }
      }
    }
  }
}

.header-container {
  // This is necessary to make sure the header is always on top of content
  .header {
    z-index: 1000;
    overflow: hidden;
  }
}

@media screen and (min-width: 1001px) {
  .sticky-header {
    .header-container {
      height: 16.7rem;

      .usa-banner-header {
        display: none;
      }

      .header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        overflow: hidden;
      }

      .usa-header,
      .usa-header > .eapp-structure-wrap {
        height: 5rem;
        min-height: 5rem;
      }

      .usa-header.usa-header-basic {
        .eapp-structure-wrap.eapp-header > .eapp-structure-row {
          .eapp-structure-right {
            @keyframes fadeIn {
              0% {
                opacity: 0;
              }
              50% {
                opacity: 0.5;
              }
              100% {
                opacity: 1;
              }
            }

            @-moz-keyframes fadeIn {
              0% {
                opacity: 0;
              }
              50% {
                opacity: 0.5;
              }
              100% {
                opacity: 1;
              }
            }

            @-webkit-keyframes fadeIn {
              0% {
                opacity: 0;
              }
              50% {
                opacity: 0.5;
              }
              100% {
                opacity: 1;
              }
            }

            @-o-keyframes fadeIn {
              0% {
                opacity: 0;
              }
              50% {
                opacity: 0.5;
              }
              100% {
                opacity: 1;
              }
            }

            .eapp-logout {
              position: absolute;
              top: 0;
              animation: fadeIn 0.3s;
              -moz-animation: fadeIn 0.3s;
              -webkit-animation: fadeIn 0.3s;
              -o-animation: fadeIn 0.3s;
            }

            .title {
              max-height: 5rem;
              margin-top: -0.5rem;

              .title-text {
                transition: font-size 400ms ease-out;
                font-size: 1.8rem;
                line-height: 1;
              }

              .crumb {
                transition: font-size 400ms ease-out;
                font-size: 1rem;
              }
            }
          }

          .eapp-structure-left.eapp-logo {
            height: 5.7rem;
            min-height: 5.7rem;

            img,
            span,
            a {
              height: 0;
              font-size: 0;
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

/* horizontal progress bar, inner div width to be adjusted via JS */
.eapp-progress {
  position: relative;
  height: 0.7rem;
  background: $eapp-grey-lightest;

  .eapp-progress-current {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: $eapp-green;
    width: 0;
    transition: width 0.8s;
  }
}

/* frame out the live form area for consistency */
.eapp-structure-right.eapp-core {
  padding-top: 5rem !important;
  padding-bottom: 4rem !important;
}

.hidden {
  display: none !important;
}

.visible {
  display: initial;
  visibility: visible;
}

.clear {
  float: none;
  clear: both;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.title-case {
  text-transform: capitalize;
}

.no-gutter {
  margin-left: initial;
  margin-right: initial;
  max-width: 100%;
}

.disabled,
[disabled],
[readonly] {
  background-color: #fff;
  opacity: 0.35;

  &[type='checkbox'],
  &[type='radio'] {
    opacity: 0;
  }
}

:-webkit-autofill,
:-webkit-autofill:hover,
:-webkit-autofill:focus {
  background-color: #fff !important;
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

@-ms-viewport {
  width: device-width;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade.in {
  opacity: 0;

  animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  -webkit-animation: fadeIn ease-in 1;

  animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;

  animation-duration: 0.7s;
  -moz-animation-duration: 0.7s;
  -webkit-animation-duration: 0.7s;

  &.animate {
    animation-delay: 0.25s;
    -moz-animation-delay: 0.25s;
    -webkit-animation-delay: 0.25s;
  }
}
