@import 'eqip-colors';
@import 'eqip-fonts';

h1 {}
h2 {
	font-size:4rem;
	margin-top:0;
	margin-bottom:0.4em;
}

h3 {
	font-size:2.3rem;
}

/* design needs a touch more line height than standards */
p {
	line-height:1.6;
}

a:focus {
	box-shadow:none;
}

.usa-header {
    font-family: $eapp-serif;
    background-color: $eapp-blue;
    min-height:16.7rem;

	.usa-banner-inner {
		margin:0;
		max-width:none;
		.usa-banner-button {
			display:inline-block;
			width:auto;
		}
	}

    .eapp-header {
        min-height:14.5rem;

        .eapp-logo {
            height:14.5rem;
            background: $eapp-blue-dark url('../img/eapp-logo.png') 12% center no-repeat;
            color:#9bdaf0;

            span {
                display:block;
                margin-left:38%;
            }
            .eapp-logo-text {
                font-size:3rem;
                font-weight:$eapp-bold;
                margin-top:5.2rem;
            }
        }

        /* logout control */
        .eapp-logout {
            position:absolute;
            right:0;
            top:2.2rem;
            z-index:100;
            font-family:$eapp-sans;
            font-size:1.6rem;
            a {
                display:block;
                padding:1rem 1.5rem;
                color:$eapp-grey;
                text-decoration:none;
            }
        }

        /* section title styling, trying to be flexible for long section titles, text should flow up into header */
        .title {
            display:block;
            position:relative;
            height:14.5rem;
            color: #fff;
            font-size: 5rem;
            font-weight:$eapp-bold;
            .title-text {
                display:block;
                position:absolute;
                bottom:2.4rem;
                left:6rem;
                width:auto;
                line-height:1;
            }
        }
    }
}
/* horizontal progress bar, inner div width to be adjusted via JS */
.eapp-progress {
    position:relative;
    height:0.7rem;
    background:$eapp-grey-lightest;
    .eapp-progress-current {
        position:absolute;
        top:0;
        left:0;
        height:100%;
        background:$eapp-green;
        width:0;
    }
}

#main-content {}

/* frame out the live form area for consistency */
.eapp-core {
	padding:5.5rem 0 2rem 6.5rem;
	> * {
		padding:0;
	}
}

.hidden {
    display: none;
    visibility: hidden;
}

.no-gutter {
    margin-left: initial;
    margin-right: initial;
    max-width: 100%;
}

select, input {
    &[disabled], &[readonly] {
        background-color: #ddd;
    }
}
