{
    "presets": ["es2015", "react", "stage-2"],
    "plugins": [
        ["module-resolver", {
            "root": "./src",
            "alias": {
                "@actions": "./src/actions",
                "@components": "./src/components",
                "@config": "./src/config",
                "@img": "./src/img",
                "@plugins": "./src/plugins",
                "@reducers": "./src/reducers",
                "@schema": "./src/schema",
                "@services": "./src/services",
                "@validators": "./src/validators",
                "@views": "./src/views"
            }
        }]
    ]
}
