NODE_ENV=development
GOLANG_ENV=development
LOG_LEVEL=warning
LOG_FILE=
LOG_SYSLOG=
LOG_SYSLOG_CERT=
SESSION_TIMEOUT=
API_REDIRECT=http://localhost:8080
API_BASE_URL=http://localhost:3000
PORT=
HASH_ROUTING=
DB_MIGRATION_TARGET=
DATABASE_URI=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=
DATABASE_HOST=
CORS_ALLOWED=*
FLUSH_STORAGE=
USPS_API_API_KEY=
JWT_SECRET=
BASIC_ENABLED=1
SAML_ENABLED=
SAML_PUBLIC_CERT=eapp.crt
SAML_PRIVATE_CERT=eapp.key
SAML_IDP_SSO_URL=https://localhost:9443/samlsso
SAML_IDP_SSO_DESC_URL=localhost
SAML_IDP_PUBLIC_CERT=wso2.crt
SAML_SIGN_REQUEST=1
SAML_CONSUMER_SERVICE_URL=http://localhost:3000/auth/saml/callback
TLS_CERT=
TLS_KEY=
WS_URL=
WS_KEY=
WS_CALLERINFO_AGENCY_ID=
WS_CALLERINFO_AGENCY_USER_PSEUDOSSN=
WS_CALLERINFO_AGENCY_USER_SSN=
WS_AGENCY_ID=
WS_AGENCY_GROUP_ID=
ATTACHMENTS_ENABLED=1
