.nonpayment {
  .nonpayment-infractions {
    z-index: 1;

    label::before {
      vertical-align: top !important;
      margin-top: 0.8rem !important;
    }

    label > span > div {
      display: inline-block;
      width: 90%;
      text-align: left;
    }

    .no-toggle {
      display: inline !important;
    }
  }

  .nonpayment-date,
  .nonpayment-resolved {
    width: initial !important;
  }

  .fa.fa-dollar {
    margin-left: -2rem;
  }

  .nonpayment-amount {
    width: 100%;
    margin-left: 1rem;
    display: inline-block;

    label {
      margin-left: 1rem;
    }
  }

  .nonpayment-amount.coupled-flags {
    clear: both;
    z-index: 1;

    .block {
      float: right;

      label.no-toggle {
        margin-right: 0 !important;
      }
    }
  }
}
