@import 'eqip-colors';
@import 'eqip-fonts';

.eapp-title > .title {
  max-height: 14.5rem;
  overflow: hidden;
  color: #fff;
  font-size: 2.5rem;
  font-weight: $eapp-bold;
  margin-bottom: 2rem;

  > .title-text {
    transition: all 400ms ease;
    display: block;
    line-height: 1.2;

    > span > span {
      display: block;
    }

    .crumb {
      margin-left: 0.5rem;
      font-size: 12pt;
    }

    > span > .crumb {
      margin-left: 0;
    }
  }
}
