.foreign-service {
  .foreign-service-name,
  .foreign-service-country,
  .foreign-service-rank,
  .foreign-service-division,
  .foreign-service-circumstances,
  .foreign-service-left {
    display: inline-block;
    width: 92%;
  }

  .organization {
    .option-list {
      max-width: 92% !important;
    }

    label {
      height: 12rem;
      width: 18.5rem;
      padding-top: 4.3rem;
      overflow: hidden;
    }

    p {
      padding: 0 !important;
      line-height: 1.4;
    }

    .smaller {
      font-size: 1.5rem;
    }

    .organization-other label {
      padding-top: 3.3rem;
    }

    .organization-military label {
      padding-top: 2rem;
    }
  }
}
