.basic-accordion {
  margin-top: 5rem;

  .valid-icon {
    background: url('#{$asset-path}/img/checkmark.svg') no-repeat right 0 center / 1.7rem
      auto;
    width: 1.7rem;
    height: 1.7rem;
    position: absolute;
    right: 1rem;
  }

  .usa-accordion-button {
    position: relative;
    background-position: right 4rem center;
  }
}
