.valid-form {
  padding-top: 1rem;

  .submit.usa-button {
    padding: 3rem 6rem 3rem 6rem;

    i {
      margin-left: 0.6rem;
    }
  }

  .submit.usa-button:disabled {
    background-color: #0071bc;
  }

  .next-release {
    margin-top: 4rem;
  }
}
