.petition-type {
    .option-list {
        label {
            padding-left: 2rem;
            padding-right: 2rem;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
        }
    }
}
