.sex {
  .block {
    div {
      margin-right: 10rem !important;
      margin-bottom: 7rem !important;
    }

    label {
      height: 4rem;
      padding-top: 1rem;

      i {
        display: block;
      }

      span {
        display: block;
        margin-top: 1.5rem;
        line-height: auto;
        font-size: smaller;
        height: auto;
      }
    }
  }
}
