.existingconditions {

  .explanation {
    width: 92%;
    max-width: 64rem;
    display: inline-block;
  }

  .treatment-list {
    display: inline-block;
    label {
      width: 15rem;
    }
  }
}
