.existingconditions {
  .treatment-list {
    .yes label,
    .no label {
      width: 15rem !important;
    }

    label {
      height: auto !important;
    }
  }

  .summary {
    .left {
      .content {
        .index {
          padding-right: 1rem;
        }

        .treatmentdate {
          float: right;
          height: 4.9rem;
        }
      }
    }
  }
}
