.existingconditions {
  .treatment-list {
    label {
      width: 16rem;
    }
  }

  .summary {
    .left {
      .content {
        .index {
          padding-right: 1rem;
        }

        .treatmentdate {
          float: right;
          height: 4.9rem;
        }
      }
    }
  }
}
