.drug-type {
  .blocks {
    label {
      width: 26rem !important;
      div:not(:last-of-type) {
        top: 16% !important;
      }

      div:not(:first-of-type) {
        margin-top: -3.8rem;
      }
    }
    .cocaine,
    .ketamine,
    .hallucinogenic,
    .steroids,
    .inhalants,
    .other {
      label {
        width: 26rem !important;
        div:not(:last-of-type) {
          top: 23% !important;
        }

        div:not(:first-of-type) {
          margin-top: -3.2rem;
        }
      }
    }
  }
}
