.drug-ordered-treatment {
  .ordered-by {
    label {
      height: 13rem !important;
      width: 26rem !important;
    }
    .employer,
    .none {
      div {
        top: 12% !important;
      }
    }
  }
}
