.not-applicable {
  display: inline-block;
  width: 92%;
  max-width: 64rem;

  .button label {
    width: 23.5rem;
    margin-bottom: 4.6rem !important;
  }

  .button p {
    margin-top: -2rem;
    padding-bottom: 2rem !important;
  }

  .dithered {
    opacity: 0.5;
  }
}

.help {
  .not-applicable {
    + .toggle {
      display: inline-block;
      vertical-align: top;
      margin-top: 9rem;
    }
  }

  .not-applicable.with-or {
    + .toggle {
      margin-top: 13.5rem;
    }
  }
}
