.not-applicable {
  .button {
    margin-top: 1rem;
  }
  .button label {
    margin-bottom: 4.6rem !important;
  }

  // If there is a field within the NotApplicable we want
  // to remove the last `margin-bottom` to tighten up the `or`
  // with the last component.
  .field:last-of-type {
    margin-bottom: 0;
  }

  .or {
    margin-top: 1rem;
    display: inline-flex;
    margin-right: 1rem;
  }
}
