.not-applicable {
  display: inline-block;
  width: 92%;

  .button label {
    width: 23.5rem;
    margin-bottom: 4.6rem !important;
  }

  .button p {
    margin-top: -2rem;
  }

  .dithered {
    opacity: 0.5;
  }
}

.help {
  .not-applicable {
    + .toggle {
      display: inline-block;
      vertical-align: top;
      margin-top: 11.5rem;
      margin-left: 0.8rem;
    }
  }
}
