@import 'eqip-colors';

.offense {
  .offense-chargetype {
    margin-bottom: 1.1rem;
    .block label {
      height: auto !important;
    }
  }

  .more.title {
    color: $eapp-blue-dark;
  }

  .more.arrow {
    height: 8rem;
    margin-left: 25.25rem;
  }
}
