@import 'eqip-colors';

.offense {
  .offense-description,
  .offense-citedby,
  .offense-explanation,
  .offense-courtname,
  .offense-courtcharge,
  .offense-courtoutcome {
    display: inline-block;
    width: 92%;
  }

  .offense-courttype .eapp-blocks-radio label {
    width: 17rem;
  }

  .more.title {
    color: $eapp-blue-dark;
  }

  .more.arrow {
    text-align: center;
    height: 8rem;
    width: 100%;
    margin: 0 auto 2rem auto;
  }
}
