@import 'eqip-colors';

.police {
  .collection {
    .summary .brief .index {
      width: 13rem;
    }

    .summary .brief .info {
      max-width: 35rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .summary .brief .dates {
      width: 12rem !important;
    }
  }

  .blue {
    color: $eapp-blue-dark;
    font-size: smaller;
  }

  ul.other-offenses {
    margin-top: 2rem;
    li {
      p {
        padding-left: 1rem;
      }
    }
  }
}
