@import 'eqip-colors';

.suggestions {
  width: 64rem;

  h3,
  p {
    padding-left: 0 !important;
  }

  h3 {
    margin-top: 0;
  }

  .suggestion-btn {
    padding: 2rem;

    i {
      margin-left: 1rem;
    }
  }

  .suggestion {
    .value {
      display: inline-block;
      text-align: left;
      width: 50%;
      height: 10rem;
    }

    .action {
      display: inline-block;
      text-align: right;
      vertical-align: middle;
      width: 50%;
      height: 10rem;

      i {
        margin-left: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
      }
    }
  }

  .dismiss {
    border-top: 2px solid $eapp-grey;
    padding-top: 1rem;
    margin-top: 3rem;

    a {
      text-decoration: none;
      color: $eapp-blue;

      i {
        margin-left: 1rem;
      }

      span {
        border-bottom: 1px $eapp-blue dashed;
      }
    }

    .right {
      float: right;
    }
  }
}
