.card-abuse {
  .card-agency,
  .card-address,
  .card-date,
  .card-reason,
  .card-amount,
  .card-description {
    display: inline-block;
    max-width: 64rem;
    width: 92%;
  }

  .card-date {
    width: initial !important;
  }

  .fa.fa-dollar {
    margin-left: -2rem;
  }

  .card-amount {
    margin-left: 1rem;

    label {
      margin-left: 1rem;
    }
  }

  .card-amount.coupled-flags {
    clear: both;
    z-index: 1;

    .eapp-blocks-checkbox {
      float: right;

      label.no-toggle {
        margin-right: 0 !important;
      }
    }
  }
}
