@import 'eqip-colors';

@keyframes openbox {
  0% {
    max-height: 0;
  }

  99% {
    max-height: 75vh;
  }

  100% {
    max-height: none;
  }
}

@keyframes closebox {
  0% {
    max-height: 75vh;
  }

  100% {
    max-height: 0;
  }
}

.accordion {
  background-color: $eapp-grey;
  padding: 0 5rem;

  > strong {
    display: block;
    line-height: 5rem;
    min-height: 5rem;
    padding: 0 14%;

    @media screen and (max-width: 1380px) {
      padding: 0 7.5%;
    }

    @media screen and (max-width: 1024px) {
      padding: 0 5.5%;
    }
  }

  .items {
    line-height: 7.2rem;
  }

  .item {
    background-color: #fff;
    min-height: 7.2rem;
    margin-top: 0.8rem;

    .eapp-field-wrap {
      padding-left: 0;
      padding-right: 0;
    }

    .details {
      line-height: 1.6;
      padding: 0 14%;
      overflow: hidden;
      border-left: 0.4rem solid $eapp-blue;

      @media screen and (max-width: 1380px) {
        padding: 0 7.5%;
      }

      @media screen and (max-width: 1024px) {
        padding: 0 5.5%;
      }

      .close {
        display: block;
        text-align: right;
        padding: 1rem;
        cursor: pointer;
        text-decoration: none;

        span {
          border-bottom: 1px dashed $eapp-blue;
        }
      }
    }
  }

  .item:first-child {
    margin-top: 0;
  }

  .byline {
    width: 100%;
    padding: 1rem 7.5%;
    transition: border-left-color 0.3s;
    border-right: 0.4rem solid #fff;

    &.close {
      border-left: 0.4rem solid #fff;
    }

    &.open {
      border-left: 0.4rem solid $eapp-blue;
    }
  }

  .summary {
    display: table;
    width: 100%;

    .left, .right {
      display: table-cell;
      position: relative;
      cursor: pointer;
      text-decoration: none;
      overflow: hidden;
      vertical-align: top;
      transition: box-shadow .3s, color .3s;
      box-shadow: 0 0 0 0 rgba(32, 84, 146, 0.6);

      &:hover {
        box-shadow: 0 0 10px 0 rgba(32, 84, 146, 0.6);
      }

      .button-with-icon {
        display: inline-block;
        text-align: center;
        width: 7rem;
        vertical-align: text-bottom;
        border: none !important;

        > * {
          display: block;
          line-height: 1;
        }
      }
    }

    .left {
      color: #000;
      width: 80%;
      padding-left: 14%;
      text-overflow: ellipsis;
      transition: border-left-color 0.3s;
      border-left: 0.4rem solid #fff;

      @media screen and (max-width: 1380px) {
        padding-left: 7.5%;
      }

      @media screen and (max-width: 1024px) {
        padding-left: 5.5%;
      }

      &.open {
        border-left-color: $eapp-blue;
      }

      .toggle {
        color: $eapp-blue;
      }

      .button-with-icon {
        padding-top: 1.3rem;
        float: right;
      }

      > span:last-of-type {
        > span:first-of-type {
          margin-right: 1rem;
        }

        > span.dates {
          float: right;
          text-align: right;
          height: 4.9rem;
        }
      }

      &:hover {
        color: $eapp-blue;

        > span:last-of-type > span {
          border-bottom: 1px dashed $eapp-blue;
        }
      }
    }

    .right {
      color: $eapp-grey-dark;
      width: 20%;
      padding-left: 0.5rem;

      &:hover {
        color: $eapp-red;
      }
    }
  }

  .details.open, .details.close {
    &.animate {
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
      animation-iteration-count: 1;
    }
  }

  .details.open {
    &.animate {
      animation-name: openbox;
    }
  }

  .details.close {
    &.static {
      max-height: 0;
    }

    &.animate {
      animation-name: closebox;
    }
  }
}

.addendum {
  padding-top: 4.6rem;

  .add {
    margin: 0 !important;

    i {
      margin-left: 1rem;
    }
  }
}
