@import 'eqip-colors';

.accordion {
  background-color: $eapp-grey;
  padding: 0 5rem;

  > strong {
    display: block;
    line-height: 5rem;
    min-height: 5rem;
    padding: 0 14%;
  }

  .items {
    line-height: 7.2rem;
  }

  .item {
    background-color: #fff;
    padding: 0 14%;
    min-height: 7.2rem;
    margin-top: 0.8rem;

    .eapp-field-wrap {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .item:first-child {
    margin-top: 0;
  }

  .summary .left {
    color: #000;
    text-decoration: none;
    display: inline-block;
    width: 80%;
    vertical-align: top;
    overflow: hidden;
    text-overflow: ellipsis;

    .toggle {
      color: $eapp-blue;
    }

    &:hover {
      color: $eapp-blue;

      span {
        border-bottom: 1px dashed $eapp-blue;
      }
    }
  }

  .summary .right {
    color: $eapp-grey-dark;
    text-decoration: none;
    display: inline-block;
    width: 20%;
    vertical-align: top;
    overflow: hidden;

    &:hover {
      color: $eapp-red;

      span {
        border-bottom: 1px dashed $eapp-red;
      }
    }
  }

  .details.open {
    display: block;

    .close {
      display: block;
      text-align: right;
    }
  }

  .details.close {
    display: none;
  }
}
