@import 'eqip-colors';
@import 'eqip-fonts';

$breakpoints: (
  1225px: 0.08,
  1180px: 0.26,
  1145px: 0.18,
  1123px: 0.36,
  1060px: 0.46,
  1000px: 0.08,
  800px: 0.08,
  730px: 0.36,
  600px: 0.62,
  452px: 0.76
);

@mixin truncate-at($width) {
  &.at-#{$width} {
    max-width: $width + rem;

    @each $bp, $adjuster in $breakpoints {
      @media only screen and (max-width: $bp) {
        max-width: ($width - ($width * $adjuster)) + rem;
      }
    }
  }
}

@keyframes openbox {
  0% {
    max-height: 0;
  }

  99% {
    max-height: 75vh;
  }

  100% {
    max-height: none;
    visibility: visible;
  }
}

@keyframes closebox {
  0% {
    max-height: 75vh;
  }

  100% {
    max-height: 0;
    padding-top: 0;
    visibility: hidden;
  }
}

.accordion {
  background-color: #e5e5e5;
  padding: 0 5rem 5rem 5rem;
  margin: 0 -17.5%;

  > .caption {
    display: block;
    padding: 1rem 10%;
    background-color: #fff;
    border-bottom: solid 1px #e5e5e5;
    font-weight: 600;
    color: $eapp-grey-darker;

    .svg {
      height: 2.5rem !important;
      vertical-align: bottom;
      margin-right: 1rem;
    }
  }

  > strong {
    display: block;
    line-height: 5rem;
    min-height: 5rem;
    padding: 0 10%;

    /* For screen readers we want the text to be "navigatable"
       but for non-screenreaders do not display it */
    &.aria-description {
      opacity: 0;
    }
  }

  .items {
    line-height: 7.2rem;
  }

  .item {
    background-color: #fff;
    min-height: 7.2rem;
    margin-top: 0.8rem;

    .details {
      line-height: 1.6;
      padding: 1rem 10% 0;
      overflow: hidden;
      border-left: 0.4rem solid $eapp-blue;

      h2 {
        margin-top: 10rem;
      }

      > .close {
        display: block;
        text-align: right;
        padding: 1rem;
        cursor: pointer;
        text-decoration: none;
        margin-bottom: 2.2rem;
        width: 6rem;
        float: right;
        opacity: 1;
        transition: opacity 300ms ease-in;

        span {
          border-bottom: 1px dashed $eapp-blue;
        }
      }
    }
  }

  .item:first-child {
    margin-top: 0;
  }

  .byline {
    width: 100%;
    padding: 1rem 10%;
    transition: border-left-color 0.3s;
    border-right: 0.4rem solid #fff;

    &.close {
      border-left: 0.4rem solid #fff;
    }

    &.open {
      border-left: 0.4rem solid $eapp-blue;
    }

    .incomplete {
      padding: 1rem 2rem;
      background: $eapp-red-lightest;
      border: 2px solid $eapp-red-light;
      border-radius: 6px;
      max-width: 64rem;
      line-height: 2.5rem;
      p {
        margin-bottom: 0;
      }
    }
  }

  .summary {
    display: table;
    width: 100%;

    .left,
    .right {
      display: table-cell;
      position: relative;
      cursor: pointer;
      text-decoration: none;
      overflow: hidden;
      vertical-align: top;
      transition: box-shadow 0.3s, color 0.3s;
      box-shadow: 0 0 0 0 rgba(32, 84, 146, 0.6);

      &:hover {
        box-shadow: 0 0 10px 0 rgba(32, 84, 146, 0.6);
      }

      .button-with-icon {
        display: inline-block;
        text-align: center;
        width: 7rem;
        vertical-align: text-bottom;
        border: none !important;
        margin-top: 1.9rem;

        > * {
          display: block;
          line-height: 1;
        }
      }
    }

    .left {
      color: #000;
      width: 80%;
      padding-left: 10%;
      text-overflow: ellipsis;
      transition: border-left-color 0.3s;
      border-left: 0.4rem solid #fff;

      &.open {
        border-left-color: $eapp-blue;
      }

      .toggle {
        color: $eapp-blue;
      }

      .button-with-icon {
        float: right;
      }

      > a {
        text-decoration: none;
        display: inline-block;
        width: 100%;
      }

      // All but the first anchor
      > a:nth-child(n + 2) {
        display: block;
        line-height: 1.8rem;
        padding-bottom: 3rem;
        padding-right: 7rem;

        .dates {
          height: 1.8rem;
        }
      }

      div {
        display: inline-block;
      }

      > a > span:last-of-type,
      > span:last-of-type {
        > span:first-of-type {
          margin-right: 1rem;
        }

        > span:nth-of-type(2) {
          > strong {
            margin-bottom: 0.6rem;
          }

          > strong,
          > strong * {
            display: inline-block;
            max-width: 53rem;
            vertical-align: middle;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            &.italic {
              font-style: italic;
            }

            // Adjust truncation for various lengths of the content
            @for $i from 1 through 64 {
              @include truncate-at($i);
            }

            p {
              margin-bottom: 0.3rem;
            }
          }

          &.has-content > strong,
          &.has-content > strong * {
            max-width: 40rem;
          }
        }

        > .dates {
          float: right;
          text-align: right;
          height: 4.9rem;

          // Hide on smaller screens to allow more context
          @media only screen and (max-width: 650px) {
            display: block;
            float: none;
            text-align: left;
            margin-top: -5rem;
          }
        }
      }

      .svg.incomplete {
        height: 1.6rem;
        width: auto;
        margin-right: 1rem;
        margin-left: -2.6rem;
      }

      &:hover {
        color: $eapp-blue;

        > span:last-of-type > span {
          border-bottom: 1px dashed $eapp-blue;
        }
      }

      &:hover a {
        color: $eapp-blue;

        > span:last-of-type > span {
          border-bottom: 1px dashed $eapp-blue;
        }
      }
    }

    .right {
      color: #6a6a6a;
      width: 20%;
      padding-left: 0.5rem;

      &:hover {
        color: $eapp-red;
      }
    }
  }

  .details.open,
  .details.close {
    &.animate {
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
      animation-iteration-count: 1;
    }
  }

  .details.open {
    &.animate {
      animation-name: openbox;
    }
  }

  .details.close {
    &.static {
      max-height: 0;
      padding-top: 0;
      visibility: hidden;
    }

    &.animate {
      animation-name: closebox;
    }
  }

  .append-button {
    padding: 0 10%;
  }
}

.addendum {
  padding-top: 4.6rem;

  .add {
    margin: 0 !important;
  }
}

button.usa-button-outline {
  color: $eapp-blue;
  font-size: 1.8rem;
  font-weight: $eapp-bold;
  min-width: 20rem;
  box-shadow: inset 0 0 0 3px $eapp-blue;
  border-radius: 5px;
  padding: 1.7rem 2.3rem 1.7rem 2.3rem;
  background: #fff;
  margin: 3.4rem 10% -1.6rem 0;

  &:hover {
    color: #1a4c88;
    box-shadow: inset 0 0 0 3px #1a4c88, 0 1px 5px 0 rgba(0, 0, 0, 0.6);
  }

  i {
    margin-left: 1rem;
  }
}

@media screen and (min-width: 1000px) {
  .accordion > .items > .item.sticky-accordion {
    .summary-container {
      .summary {
        z-index: 1001;
        box-shadow: 0 2px 6px -1px rgba(0, 0, 0, 0.4);
        position: fixed;
        top: 5.7rem;
        background-color: #fff;

        .left.close,
        .left.open {
          width: 90%;
          transition: width 300ms ease-out;

          > a,
          > span > span > strong,
          > span > span {
            max-height: 3rem;
          }

          vertical-align: middle;
          line-height: 3rem;

          .button-with-icon {
            margin-top: 0.7rem;
            margin-left: 2rem;

            span.toggle {
              width: 4rem;
              border-bottom: 1px dashed $eapp-blue;
            }
          }

          /** Hide both chevrons when sticky is enabled **/
          .toggle.fa-chevron-down,
          .toggle.fa-chevron-up {
            display: none;
          }
        }

        .right.remove {
          /** Allow for sliding in animation **/
          padding: 0;
          visibility: hidden;
          width: 0;
          display: block;
          height: 0;
        }
      }
    }

    .details {
      /* Need to compensate for space used up by accordion row */
      padding-top: 8.6rem;

      > .close {
        opacity: 0;
        transition: opacity 300ms ease-out;
      }
    }
  }
}
