.interest {
  .interest-types {
    label {
      width: 26rem;
      height: 9rem;
      padding: 1rem;
      line-height: 6rem !important;
      span {
        line-height: normal;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}
