.status {

  .citizenship-basis-individual {
    > label > span > div {
      top: 25%;
    }
  }

  .citizenship-document-type label {
    width: 11rem !important;
    height: auto !important;
  }
}
