.status {
  .citizenship-status-citizen label,
  .citizenship-status-foreignborn label {
    width: 100%;
    height: 8rem;
    padding-top: 1.5rem;
  }

  .citizenship-status-naturalized label,
  .citizenship-status-derived label,
  .citizenship-status-notcitizen label {
    width: 19rem;
    height: 8rem;
    padding-top: 1rem;
  }

  .citizenship-status-notcitizen label {
    padding-top: 2.5rem;
  }

  .citizenship-abroad label {
    width: 14rem;
  }

  .citizenship-basis label {
    width: 30rem;
    height: 8rem;
    padding-top: 1rem;
  }

  .citizenship-basis-other label {
    padding-top: 2.5rem;
  }
}
