@import 'eqip-colors';

.name {
  // This is re-apply the bottom margin between sibling components since
  // the fields within this component have the margins removed
  margin-bottom: 7rem;

  // Bring the margins closer together
  .field {
    margin-bottom: 0;
  }

  .optional {
    color: $eapp-grey-darker;
    font-style: italic;
    padding-left: 0.5rem;
  }

  .suffix .block label {
    height: initial !important;
    width: 7.7rem !important;
  }

  .suffix-other {
    padding-top: 4rem;
  }

  .flags > .block {
    margin-left: 1rem;

    > label {
      width: initial;
    }
  }
}
