@import 'eqip-colors';

.name {
  input[type='text'] {
    display: inline-block;
    width: 100%;
  }

  .inline {
    display: inline-block;
    margin-left: 1rem;
  }

  .optional {
    color: $eapp-grey-darker;
    font-style: italic;
    padding-left: 0.5rem;
  }

  .middle-options {
    max-width: 64rem;
  }

  .first,
  .middle,
  .last,
  .suffix,
  .suffix-other,
  .text-right {
    display: inline-block;
    width: 92%;
    max-width: 64rem !important;
  }

  .suffix-other {
    padding-top: 4rem;
  }
}
