version: 2
jobs:
  build:
    machine: true
    steps:
      - checkout
      - run:
          name: Build docker images
          command: |
            set -x
            cp .env.test .env
            docker-compose build db api
      - run:
          name: Run unit tests for API
          command: |
            set -x
            docker-compose run api ./test.sh
      - run:
          name: Run unit tests for the front end
          command: |
            set -x
            npm install
            npm test
      - run:
          name: Code coverage
          command: |
            set -x
            echo CODECOV_TOKEN=$CODECOV_TOKEN >> .env
            NODE_ENV=test npm install -g codecov && codecov

  deploy_development:
    machine: true
    steps:
      - checkout
      - run:
          name: Build docker images
          command: |
            set -x
            cp .env.test .env
            docker-compose build db api
      - run:
          name: Run unit tests for API
          command: |
            set -x
            docker-compose run api ./test.sh
      - run:
          name: Run unit tests for the front end
          command: |
            set -x
            npm install
            npm test
      - run:
          name: Code coverage
          command: |
            set -x
            echo CODECOV_TOKEN=$CODECOV_TOKEN >> .env
            NODE_ENV=test npm install -g codecov && codecov
      - deploy:
          command: |
            set -x
            ./bin/deploy.sh dev

  deploy_production:
    machine: true
    steps:
      - checkout
      - run:
          name: Build docker images
          command: |
            set -x
            cp .env.test .env
            docker-compose build db api
      - run:
          name: Run unit tests for API
          command: |
            set -x
            docker-compose run api ./test.sh
      - run:
          name: Run unit tests for the front end
          command: |
            set -x
            npm install
            npm test
      - run:
          name: Code coverage
          command: |
            set -x
            echo CODECOV_TOKEN=$CODECOV_TOKEN >> .env
            NODE_ENV=test npm install -g codecov && codecov
      - deploy:
          command: |
            set -x
            ./bin/deploy.sh production

workflows:
  version: 2
  build_and_deploy:
    jobs:
      - build:
          filters:
            branches:
              ignore:
                - develop
                - master
      - deploy_development:
          filters:
            branches:
              only:
                - persistence-validation-fixes
      - deploy_production:
          filters:
            branches:
              only:
                - master
