version: 2
jobs:
  test:
    machine: true
    steps:
      - checkout
      - run:
          name: Setup
          command: |
            cp .env.test .env
            make setup
      - run:
          name: Lint
          command: make lint
      - run:
          name: Test
          command: make test
          environment:
            JEST_JUNIT_OUTPUT: test-results/jest/results.xml
      - store_test_results:
          path: test-results
      - run:
          name: Code coverage
          command: ./bin/coverage

  cloudgov:
    machine: true
    steps:
      - checkout
      - run:
          name: Prepare for target environment
          command: ./bin/predeploy.sh cloudgov
      - run:
          name: Setup
          command: |
            make setup
      - run:
          name: Build
          command: make build
      - run:
          name: Checksum
          command: make checksum
      - deploy:
          command: ./bin/deploy-cloudgov

  aws:
    machine: true
    steps:
      - checkout
      - run:
          name: Prepare for target environment
          command: ./bin/predeploy.sh aws
      - run:
          name: Setup
          command: |
            make setup
      - run:
          name: Build
          command: make build
      - run:
          name: Checksum
          command: make checksum
      - run:
          name: Package
          command: |
            ./bin/aws-login
            make package
      - deploy:
          command: |
            set -a
            source .env
            make deploy-check && make deploy-configure
            ./bin/aws-login
            make deploy-go
            make deploy-react

workflows:
  version: 2
  build_and_deploy:
    jobs:
      - test
      - cloudgov:
          requires:
            - test
          filters:
            branches:
              only:
                - master
                - develop
      - aws:
          requires:
            - test
          filters:
            branches:
              only:
                - master
                - develop
