.ssn {
    .first {
        width: 9rem !important;
        display: inline-block;

        input {}
    }

    .middle {
        width: 8rem !important;
        display: inline-block;
        margin-left: 2rem;
        margin-right: 2rem;

        input {}
    }

    .last {
        width: 10rem !important;
        display: inline-block;

        input {}
    }

    .coupled-flags {
        padding-left: 18rem;
    }

    .toggle {
        margin-top: 2.6rem;
    }
}
