.ssn {
    .first {
        width: 6rem !important;
        min-width: initial !important;
        display: inline-block;

        input {
            text-align: center;
        }
    }

    .middle {
        width: 5rem !important;
        min-width: initial !important;
        display: inline-block;
        margin-left: 2rem;
        margin-right: 2rem;

        input {
            text-align: center;
        }
    }

    .last {
        width: 8rem !important;
        min-width: initial !important;
        display: inline-block;

        input {
            text-align: center;
        }
    }

    .coupled-flags {
        padding-left: 10rem;
    }
}
