.delinquent {
  .delinquent-name,
  .delinquent-infractions,
  .delinquent-accountnumber,
  .delinquent-propertytype,
  .delinquent-amount,
  .delinquent-reason,
  .delinquent-status,
  .delinquent-date,
  .delinquent-resolved,
  .delinquent-courtname,
  .delinquent-courtaddress,
  .delinquent-description {
    display: inline-block;
    max-width: 64rem;
    width: 92%;
  }

  .delinquent-infractions {
    z-index: 1;

    label::before {
      vertical-align: top !important;
      margin-top: 0.8rem !important;
    }

    label > span > div {
      display: inline-block;
      width: 90%;
      text-align: left;
    }
  }

  .delinquent-date,
  .delinquent-resolved {
    width: initial !important;
  }

  .fa.fa-dollar {
    margin-left: -2rem;
  }

  .delinquent-amount {
    margin-left: 1rem;

    label {
      margin-left: 1rem;
    }
  }

  .delinquent-amount.coupled-flags {
    clear: both;
    z-index: 1;

    .eapp-blocks-checkbox {
      float: right;

      label.no-toggle {
        margin-right: 0 !important;
      }
    }
  }
}
