.delinquent {
  .delinquent-infractions {
    input[type='checkbox'] + label {
      z-index: 1;
    }

    .block {
      display: block !important;
    }

    label::before {
      vertical-align: top !important;
      margin-top: 0.8rem !important;
    }

    label > span > div {
      display: inline-block;
      width: 89%;
      text-align: left;
      vertical-align: top;
      margin-top: 0.3rem;
    }

    .no-toggle {
      display: inline !important;
    }
  }
}
