.daterange {
    margin-top: 2rem;
    padding-left: 0;
    padding-right: 0;

    .usa-grid {
        padding-left:0;
        padding-right:0;
    }

    .from-label {
        display: inline-block;
        margin-top: 4rem !important;
        width: 8rem;
        vertical-align: top;
    }

    .datecontrol {
        display: inline-block;
    }

    .from-present {
        display: inline-block;
        margin-top: 2.7rem;
        vertical-align: top;

        .or {
            margin-right: 1rem;
        }
    }

    img {
        width: 1rem;
        height: width;
        margin-left: 3rem;
    }
}
