.daterange {
    margin-top: 2rem;
    padding-left: 0;
    padding-right: 0;
    .usa-grid {
        padding-left:0;
        padding-right:0;
    }
    .from-label {
        margin-top: 6rem !important;
        width: 5rem;
    }
    .from-estimated {
        margin-top: 3.5rem;
    }
}
