.foreign-contacts {
  // The first name block needs to have the bottom margin
  // removed to bring the NotApplicable component closer
  .na-name.content .name {
    margin-bottom: 0;
  }

  // Relationship buttons have more subtext than the others
  .relationship .block label {
    width: 28rem !important;
  }

  // The text "Written correspondence" runs a little too long
  .methods .methods-written {
    label > span > div {
      top: 25%;
    }
  }

  .relationship {
    .relationship-professional {
      label > span > div {
        top: 36%;
      }
    }
    .relationship-personal {
      label > span > div {
        top: 25%;
      }
      label > span > div:not(:last-of-type) {
        top: 15%;
      }
    }
  }

  // The "estimated" checkbox of the date control plays a visual
  // trick making the "or" appear further away than it is. This
  // brings it closer together to compensate.
  .na-birthdate.button {
    margin-top: -3rem;
  }

  // The "has affiliations" branching has three options.
  .has-affiliations .block label {
    height: auto !important;
  }
}
