.benefit-activity {
  .summary {
    .left {
      .content {
        .date {
          float: right;
          height: 4.9rem;
        }
      }
    }
  }

  .benefit {
    .interest-types,
    .benefit-types,
    .frequency,
    .benefit-frequency {
      .block label {
        height: 10rem;
        width: 26rem;
        overflow: hidden;

        > span {
          display: block;
          height: 100%;

          > div {
            position: relative;
            top: 35%;

            > p {
              padding: 0;
            }
          }

          // If this is the first div AND not the last then it
          // has subtext associated to it and needs to be bumped
          // upwards.
          > div:not(:last-of-type) {
            top: 25%;
          }

          // All the div's (except the first) are treated as
          // subtext.
          > div:not(:first-of-type) {
            font-size: smaller;
            margin-top: -3rem;
          }
        }
      }
    }
  }
}
