.reference {
  .relationship-other {
    margin-top: 4rem;
  }

  .reference-email {
    display: inline-block;
    width: 92%;
    max-width: 64rem;
  }

  .relationship label {
    width: 17rem;

    .relationship-icon.neighbor {
      svg, img {
        top: 0.4rem !important;
        left: 43% !important;
        height: 7rem !important;
        width: 7rem !important;
      }
    }

    &:hover .relationship-icon.neighbor,
    &.checked .relationship-icon.neighbor {
      svg, img {
        top: 0.4rem !important;
        left: 40% !important;
        height: 4rem !important;
        width: 4rem !important;
      }
    }

    .relationship-icon.landlord {
      svg, img {
        top: 1.6rem !important;
        left: 55% !important;
        height: 4rem !important;
        width: 3rem !important;
      }
    }

    &:hover .relationship-icon.landlord,
    &.checked .relationship-icon.landlord {
      svg, img {
        top: 0.8rem !important;
        left: 50% !important;
        height: 3rem !important;
        width: 3rem !important;
      }
    }

    .relationship-icon.business {
      svg, img {
        top: 1.6rem !important;
        height: 4rem !important;
        width: 4rem !important;
      }
    }

    &:hover .relationship-icon.business,
    &.checked .relationship-icon.business {
      svg, img {
        top: 0.8rem !important;
        height: 3rem !important;
        width: 3rem !important;
      }
    }

    .relationship-icon.other {
      svg, img {
        top: 1.6rem !important;
        height: 4rem !important;
        width: 4rem !important;
      }
    }

    &:hover .relationship-icon.other,
    &.checked .relationship-icon.other {
      svg, img {
        top: 0.8rem !important;
        height: 3rem !important;
        width: 3rem !important;
      }
    }
  }

  .relationship-help-icon {
    margin-left: -16rem;
    margin-top: 1rem;
  }
}
