.federal {
  .collection {
    .summary .brief .index {
      width: 14rem;
    }

    .summary .brief .dates {
      width: 12rem;
    }

    .text {
      width: 92%;
      display: inline-block;
    }
  }
}
