.headings {
  .citizenship-status-citizen label,
  .citizenship-status-foreignborn label,
  .citizenship-status-naturalized label,
  .citizenship-status-derived label,
  .citizenship-status-notcitizen label {
    width: 100%;
    height: 12rem;
    width: 30rem;
    padding-top: 1.75rem;

    > span {
      display: inline-block;
      line-height: 1.6;
    }
  }

  .citizenship-status-notcitizen label,
  .citizenship-status-naturalized label,
  .citizenship-status-derived label {
    padding-top: 3rem;
  }
}
