.score-card {
  font-size: 5rem;
  font-weight: $eapp-bold;
  color: $eapp-grey-darker;
  text-align: center;
  margin: 0;
  padding: 2rem 0;
  border-bottom: 2px solid $eapp-grey;

  &.completed {
    color: $eapp-green;
  }

  .score-card-text {
    display: block;
    font-size: 1.9rem;
  }
}
