@import 'eqip-colors';

.address {
  display: inline-block;

  input[type='text'] {
    text-transform: capitalize;

    &::-webkit-input-placeholder {
      text-transform: none;
    }
    &:-moz-placeholder {
      text-transform: none;
    }
    &::-moz-placeholder {
      text-transform: none;
    }
    &:-ms-input-placeholder {
      text-transform: none;
    }
  }

  .state-zip-wrap {
    display: table;
    width: 100%;

    .state,
    .apofpo,
    .zipcode {
      display: table-cell;
      padding-right: 2rem;
      vertical-align: top;
    }
  }

  .mailing,
  .street,
  .street2,
  .city,
  .country {
    margin-right: 1.5rem;
    width: 53.5rem;
  }

  .address-options.blocks {
    > .domestic.block label > span > div,
    > .international.block label > span > div {
      top: 25%;
    }
  }

  > label {
    margin-top: 0.6rem;
  }

  .address-suggestion {
    div {
      line-height: 2rem;
      text-transform: uppercase;
    }

    .highlight {
      background-color: $eapp-blue-lightest;
      font-weight: 600;
    }
  }

  .reuse-address {
    padding: 1rem 0 1.4rem 0;

    > button {
      background-color: #fff;
      padding: 0;

      > i {
        margin-right: 1rem;
        color: $eapp-blue;
        vertical-align: middle;
        font-size: 3rem;
      }

      > span {
        color: $eapp-blue;
        text-decoration: underline;
      }
    }
  }
}

.help {
  .address {
    + .toggle {
      display: inline-block;
      vertical-align: top;
      margin-top: 1.6rem;
      margin-left: 0.8rem;
    }
  }
}
