@import 'eqip-colors';
@import 'eqip-fonts';

/* handle inner-application navigation */
.eapp-navigation {
	background:$eapp-grey-light;
	padding:2.5rem 0;
	> * {
		margin:0 10%;
	}
}
.form-navigation {
	margin-top:1.9rem;
	margin-bottom:1.9rem;
	
    a {
	    color:$eapp-grey-dark;
    }
    .active {
        color:$eapp-blue;
        font-weight:$eapp-bold;
    }
	a:hover {
		background:$eapp-grey;
	}
    .section {
        font-size:1.9rem;
        .number {
            margin-right:0.4rem;
        }
		> span > a {
            border-bottom:1px solid $eapp-grey-dark;
		}
        a {
            display:block;
            width:100%;
			min-height:5.1rem;
			padding:1.7rem 2rem;
            line-height:1.2;
            text-decoration: none;
//             border-left:4px solid $eapp-grey-light;
        }
        .title {
            .active {
	            border-left:4px solid $eapp-blue;
	            
            }
        }
        .subsection {
            font-size: 1.6rem;
			a {
				border:none;
				padding: 1.2rem 1rem 1.2rem 5.4rem;
				line-height:1.3;
			}
        }
        .subsection:last-child {
            border-bottom:1px solid $eapp-grey-dark;
		}
    }
}
