.navigation-toggle {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 1.7rem;
  padding-left: 1.7rem;
  padding-right: 1.7rem;
  height: 5.5rem;

  .fa.fa-times {
    font-size: 1.9rem;
  }

  &:hover,
  &:link,
  &:active,
  &:visited {
    text-decoration: none;
    color: #fff;
  }
}

.navigation-override {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 5.5rem;
  background-color: #194b88;

  .logout {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 1.7rem;
    height: 5.5rem;
    width: 50%;
    text-align: center;

    &:hover,
    &:link,
    &:active,
    &:visited {
      text-decoration: none;
      color: #fff;
    }
  }
}
