.navigation-toggle {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 1.7rem;
  height: 5.5rem;
  width: 50%;
  text-align: center;
  background-color: #194b88;

  @media only screen and (max-width: 350px) {
    text-align: right;
    width: 2rem;
    padding-right: 4rem;

    > span {
      display: none !important;
      visibility: hidden;
    }
  }

  &:hover,
  &:link,
  &:active,
  &:visited {
    text-decoration: none;
    color: #fff;
  }
}

.navigation-override {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 5.5rem;
  background-color: #194b88;

  .logout {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 1.7rem;
    height: 5.5rem;
    width: 50%;
    text-align: center;

    &:hover,
    &:link,
    &:active,
    &:visited {
      text-decoration: none;
      color: #fff;
    }
  }
}
