@import 'eqip-colors';
@import 'eqip-fonts';

@keyframes section-openbox {
  0% {
    max-height: 0;
  }

  99% {
    max-height: 50vh;
  }

  100% {
    max-height: none;
  }
}

@keyframes section-closebox {
  0% {
    max-height: 50vh;
  }

  100% {
    max-height: 0;
    padding-top: 0;
  }
}

/* handle inner-application navigation */
.eapp-navigation {
  padding: 1rem 0 2.5rem 0;
}

.form-navigation {
  margin-top: 1.9rem;
  margin-bottom: 1.9rem;

  a {
    color: $eapp-grey-dark;
    transition: border-left-color 0.3s, color 0.3s, background-color 0.3s;

    &:hover {
      background: $eapp-grey;
    }

    .fa-angle-up, .fa-angle-down {
      margin-left: 0.5rem;
      color: $eapp-grey-darker;
    }

    .fa-check-circle, .fa-exclamation-circle {
      display: none;
    }

    .eapp-status-icon {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      height: 100%;
      width: 1.7rem;
      background: center center no-repeat;
      background-size: auto;
      opacity: 0;
      transition: opacity 0.5s;
    }

    .eapp-status-icon-valid {
      background-image: url('../img/checkmark.svg');
    }

    .eapp-status-icon-error {
      background-image: url('../img/exclamation-point-white-bg.svg');
    }
  }

  .active {
    color: $eapp-blue;
    font-weight: $eapp-bold;

    > .section-name {
      color: $eapp-blue;
    }

    .section-number {
      color: inherit;
    }
  }

  .locked {
    color: $eapp-grey-disabled;
    cursor: not-allowed;

    > .section-name {
      color: $eapp-grey-disabled;
    }
  }

  .has-errors {
    color: $eapp-red;

    .section-number {
      color: inherit;
    }

    .eapp-status-icon-error {
      opacity: 1;
    }
  }

  .is-valid {
    .section-number {
      color: $eapp-green !important;
    }

    .eapp-status-icon-valid {
      opacity: 1;
    }
  }

  .section-name {
    display: inline-block;
    max-width: 87.6%;
    color: $eapp-grey-dark;
  }

  .section-number {
    position: absolute;
    left: 0.4rem;
    display: block;
    width: 2.5rem;
    font-weight: $eapp-bold;
    text-align: right;
    color: #6c7178;
  }

  // Animations
  .section,
  .subsection {
    .section-content {
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
      animation-iteration-count: 1;
      overflow: hidden;
    }

    &.open .section-content {
      animation-name: section-openbox;
      opacity: 1;
      transition: opacity 300ms ease-out;
    }

    &.closed .section-content {
      animation-name: section-closebox;
      opacity: 0;
      transition: opacity 300ms ease-out;
    }
  }

  .section {
    font-size: 1.9rem;

    > span > a {
      position: relative;
      border-left: 4px solid transparent;
      padding-left: 3.7rem;
      border-bottom: 1px solid $eapp-grey-dark;
    }

    &.open {
      border-bottom: 1px solid $eapp-grey-dark;
    }

    &:last-of-type {
      border-bottom: transparent;
    }

    a {
      position: relative;
      display: block;
      min-height: 5.1rem;
      padding: 1.7rem 2rem 1.7rem 0;
      line-height: 1.2;
      text-decoration: none;
    }

    .section-title {
      .active {
        border-left-color: $eapp-blue;
      }

      .has-errors {
        border-left-color: $eapp-red;
      }
    }

    .subsection {
      font-size: 1.6rem;

      a {
        border: none;
        padding: 1.2rem 1rem 1.2rem 1rem;
        margin-left: 2.8rem;
        line-height: 1.3;
        border-left: 4px solid transparent;

        &.has-errors {
          border-left-color: $eapp-red;
        }

        .eapp-status-icon {
          background-image: none;
          width: 0.5rem;
          height: 0.5rem;
          border-radius: 50%;
          top: 2.3rem;
          right: 0.6rem;
        }

        .eapp-status-icon-valid {
          background-color: $eapp-green;
        }

        .eapp-status-icon-error {
          background-color: $eapp-red;
        }
      }

      .subsection > * {
        padding-left: 2.8rem;
      }
    }
  }
}
