.toggle-item {
  // expand/collapse indicators
  .section-name::after {
    color: $eapp-grey-darker;
    display: inline;
    font-family: FontAwesome;
    margin-left: 0.5rem;
  }

  [aria-expanded='false'] {
    .section-name::after {
      content: '\f107';
    }
  }

  [aria-expanded='true'] {
    .section-name::after {
      content: '\f106';
    }
  }
}
