.clearance-levels {
  .clearance-level-sci > label > span {
    > div:not(:last-of-type) {
      top: 10% !important;

      > p {
        line-height: 1.4;
      }
    }

    > div:not(:first-of-type) {
      margin-top: -4.6rem;
    }
  }

  .clearance-level-foreign > label > span > div {
    top: 25%;
  }
}
