.investigative-agencies {
  .investigative-agency-dod,
  .investigative-agency-dos,
  .investigative-agency-fbi,
  .investigative-agency-dhs {
    > label > span > div {
      top: 25%;
    }
  }

  .investigative-agency-opm {
    > label > span > div {
      top: 10%;
    }
  }

  .investigative-agency-dot > label > span {
    > div:not(:last-of-type) {
      top: 10% !important;
    }

    > div:not(:first-of-type) {
      margin-top: -4.6rem;
    }
  }

  .investigative-agency-foreign > label > span {
    > div:not(:last-of-type) {
      top: 20% !important;
    }

    > div:not(:first-of-type) {
      margin-top: -3.3rem;
    }
  }
}
