@import 'eqip-colors';

.address {
  display: inline-block;

  .state-zip-wrap {
    display: table;

    .state,
    .apofpo,
    .zipcode {
      display: table-cell;
      padding-right: 2rem;
      vertical-align: top;
    }
  }

  .mailing,
  .city,
  .country {
    margin-right: 1.5rem;
  }

  .address-options {
    label {
      padding-top: 3rem;
      width: 18rem;
      height: 9rem;
      overflow: hidden;
      line-height: 2.6rem;
    }

    span p {
      padding: 0;
    }

    .domestic label,
    .international label {
      padding-top: 2rem;
    }
  }

  .fields {
    .apofpo {
      .eapp-blocks-radio label {
        display: inline-block !important;
        width: 25.6rem;
      }
    }

    label {
      position: relative !important;
      top: 0 !important;
    }
  }

  label.bold {
    font-weight: 600;
  }

  .address-suggestion {
    div {
      line-height: 2rem;
      text-transform: uppercase;
    }

    .highlight {
      background-color: $eapp-blue-lightest;
      font-weight: 600;
    }
  }
}

.help {
  .address {
    + .toggle {
      display: inline-block;
      vertical-align: top;
      margin-top: 1.6rem;
      margin-left: 0.8rem;
    }
  }
}
