.height {
    .feet, .inches {
        display: inline-block;
        width: 10rem;
    }

    .feet {
        padding-right: 1rem;
    }

    .eapp-field-wrap {
        overflow-x: visible;
        background: transparent;
        vertical-align: top;
    }

    .eapp-error-message {
        width: calc(100% * 100);
    }
}
