#eye-color-black {
	fill:#000;
}
#eye-color-blue {
	fill:#79b8d9;
}
#eye-color-brown {
	fill:#4f3424;
}
#eye-color-gray {
	fill:#c7c7c7;
}
#eye-color-green {
	fill:#469f3c;
}
#eye-color-hazel {
	fill:#737953;
}
#eye-color-maroon {
	fill:#6c171b;
}
#eye-color-multi {
}
#eye-color-pink {
	fill:#e87e9c;
}
#eye-color-unknown {
}
