.eye-colors {
  .blocks {
    .block label {
      width: 14rem;
    }

    .eye-icon.black svg path {
      fill: #000;
    }

    .eye-icon.blue svg path {
      fill: #79b8d9;
    }

    .eye-icon.brown svg path {
      fill: #4f3424;
    }

    .eye-icon.gray svg path {
      fill: #c7c7c7;
    }

    .eye-icon.green svg path {
      fill: #469f3c;
    }

    .eye-icon.hazel svg path {
      fill: #737953;
    }

    .eye-icon.maroon svg path {
      fill: #6c171b;
    }

    .eye-icon.pink svg path {
      fill: #e87e9c;
    }

    .eye-icon.unknown svg path {
      fill: $eapp-grey-darker;
    }
  }
}
