.birthplace {
  .state,
  .city,
  .county,
  .country {
    display: inline-block;
    width: 90%;
    max-width: 64rem !important;

    input {
      width: 100% !important;
      max-width: 64rem !important;
    }
    padding-bottom: 2.2rem;
  }

  .branch {
    padding-top: 2rem;
    .help {
      padding-top: 0;

      label {
        position: relative;
      }
    }
  }
}
