.people {
  .summaryprogress.progress {
    display: inline-block;
    vertical-align: middle;
  }

  .people-summary {
    width: 54rem;

    .content {
      width: 75%;
    }
    .stats {
      width: 25%;
    }
  }

  .counter {
    height: 66px;
    vertical-align: middle;
    display: inline-block;
    width: 16rem;
    text-align: center;
    margin-bottom: 4.9rem;
  }
}
