.people {
  .summaryprogress.progress {
    display: inline-block;
    vertical-align: middle;

    .summary-progress {
      border: none;
      padding: 0;
      margin: 0;
    }
  }

  .people-summary {
    width: 54rem;

    .content {
      width: 75%;
    }
    .stats {
      width: 25%;
    }
  }

  .counter {
    vertical-align: middle;
    display: inline-block;
    width: 16rem;
    text-align: center;
  }
}

@media only screen and (max-width: 1200px) {
  .people .summaryprogress.progress {
    display: block;
    text-align: center;
    margin-bottom: 1rem;
  }

  .people .people-summary {
    width: 100%;

    .content,
    .status {
      width: 100%;
    }
  }

  .people .counter {
    display: block;
    width: 100%;
  }
}
