.people {
  .summaryprogress {
    display: inline-block;
  }
  .people-summary {
    width: 54rem;
  }
  .counter {
    height: 66px;
    vertical-align: middle;
    width: 16rem;
    text-align: center;
  }
}
