.residence {
  .info-label {
    position: relative;
    top: initial;
    left: initial;
  }

  .role {
    .eapp-blocks-radio {
      width: 29rem;
    }

    .other {
      margin-top: 4rem;
    }
  }
}
