.telephone {
  display: inline-block;

  .numbers {
    > label {
      font-weight: bold;
      margin-bottom: -2.6rem;
    }
  }

  .number {
    &.three {
      width: 8rem;
    }

    &.four {
      width: 9rem;
    }

    &.six {
      width: 10rem;
    }

    &.ten {
      width: 14rem;
    }

    label {
      min-height: 2.7rem;
    }
  }

  .separator {
    font-size: 2rem;
    line-height: 2rem;
  }

  .separator.extension {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .separator.pound {
    margin-left: 1rem;
  }

  .number, .separator {
    display: inline-block;
    padding-right: 0.3rem;
  }

  .type {
    margin-bottom: 2rem;

    span {
      margin-left: 1rem;
      margin-right: 1.5rem;
    }

    a {
      font-weight: 600;
      border-bottom: 1px #0071bc dashed;
      text-decoration: none;
    }
  }

  .timeofday {
    margin-bottom: 2rem;
    margin-left: 1.5rem;
    z-index: 1;

    .time {
      display: inline-block;
      margin-right: 2rem;
    }
  }

  .phonetype-option.block label {
    height: auto !important;
    width: 8.7rem !important;
  }

  .nonumber {
    display: inline-block;
    vertical-align: top;
    margin-bottom: -2rem;

    label {
      width: 13rem;
      margin-top: 2.5rem;
    }
  }
}
