.telephone {
  display: inline-block;

  .number.three {
    width: 8rem;
  }
  .number.four {
    width: 9rem;
  }
  .number.ten {
    width: 14rem;
  }

  .separator {
    font-size: 2rem;
    line-height: 2rem;
  }

  .separator.extension {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .number, .separator {
    display: inline-block;
    padding-right: 0.3rem;
  }

  .type {
    margin-bottom: 6rem;

    span {
      margin-left: 1rem;
      margin-right: 1.5rem;
    }

    a {
      font-weight: 600;
      border-bottom: 1px #0071bc dashed;
      text-decoration: none;

    }
  }

  .timeofday {
    margin-bottom: 4rem;
    margin-left: 1.5rem;
    z-index: 1;

    .time {
      min-width: 10rem;
      display: inline-block;
    }
  }

  .phonetype-option {
    label {
      width: 12rem;
    }
  }

  .nonumber {
    display: inline-block;

    label {
      width: 14rem;
    }
  }
}
