@import 'eqip-colors';

.review-screen {
  h1 {
    padding: 0;
  }

  .checkmark {
    height: 13rem;
    width: auto;
    // color: $eapp-green;
  }

  .review-column {
    display: inline-block;
    width: 30rem;
    vertical-align: text-top;

    h3, p {
      padding-left: 0;
      padding-right: 0;
    }

    svg, img {
      margin-top: 3rem;
      height: 13rem;
      width: auto;
    }

    + .review-column {
      margin-left: 10%;
    }

    button {
      padding-top: 2rem;
      padding-bottom: 2rem;
      width: 100%;
    }
  }
}

.review-btns {
  button {
    height: 5.5rem;
  }
}
