@import 'eqip-colors';
@import 'eqip-fonts';

.help {
  padding-top: 2.6rem;
  line-height: 4.6rem;

  > label {
    top: -1.2rem !important;
  }

  .toggle {
    display: inline-block;
    vertical-align: top;
    margin-left: 0.8rem;

    svg {
      display: inline-block;
      height: 3.7rem;
      vertical-align: middle;

      .eapp-help-icon,
      .eapp-help-circle {
        transition: fill 0.3s;
      }

      .eapp-help-icon {
        fill: $eapp-blue-light;
      }

      .eapp-help-circle {
        fill: $eapp-blue-lightest;
      }
    }

    &:hover,
    &.active {
      svg {
        .eapp-help-icon {
          fill: $eapp-blue-lightest;
        }

        .eapp-help-circle {
          fill: $eapp-blue-light;
        }
      }
    }
  }

  .message {
    width: 92%;
    max-width: 64rem;
    margin: 1.3rem 0;
    padding: 2rem 3rem 1.3rem 3rem;
    background: $eapp-blue-lightest;
    border: 2px solid $eapp-blue-lighter;
    border-radius: 6px;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: 0;
      font-family: $eapp-sans;
      font-size: 13pt;
      padding: 0;
    }

    > i {
      display: block;
      position: relative;
      top: -2.9rem;
      left: -3.9rem;
      height: 1.6rem;
      width: 1.6rem;
      color: #fff;
      font-size: 1.3rem;
      line-height: 1.6rem;
      text-align: center;
      background: $eapp-blue-light;
      border-radius: 50%;
    }

    div * {
      padding: 0 !important;
    }

    .eapp-help-close {
      display: block;
      margin-top: 1rem;
    }

    &.eapp-error-message {
      background: $eapp-red-lightest;
      border-color: $eapp-red-light;

      > i {
        background-color: $eapp-red;
      }
    }
  }
}

.no-label {
  .help {
    padding-top: 0;
  }
}
