@import 'eqip-colors';

.help {
    .toggle {
        display: inline-block;
        vertical-align: top;
		line-height: 4.3rem;
		svg {
			display:inline;
            height:3rem;
            width:3rem;
	    	.eapp-help-icon, .eapp-help-circle {
			    transition:fill 0.3s;
			}
	    	.eapp-help-icon {
	        	fill:$eapp-blue-light;
        	}
	    	.eapp-help-circle {
			    fill:$eapp-blue-lightest;
		    }
        }
        &:hover, &.active {
            svg {
		    	.eapp-help-icon {
		        	fill:$eapp-blue-lightest;
	        	}
		    	.eapp-help-circle {
				    fill:$eapp-blue-light;
			    }
            }
        }
    }

    .message {
        max-width: 64rem;
        padding: 2rem 3rem 3.5rem 3rem;
        background: $eapp-blue-lightest;
        border: 2px solid $eapp-blue-lighter;
        margin: 2rem 0;

        > i {
            display: block;
            position: relative;
            top: -2.9rem;
            left: -3.9rem;
            height: 1.6rem;
            width: 1.6rem;
            color: #fff;
            font-size: 1.3rem;
            line-height: 1.6rem;
            text-align: center;
            background: $eapp-blue-light;
            border-radius: 50%;
        }

        .eapp-help-close {
            display: block;
            margin-top: 1rem;
        }
        &.eapp-error-message {
	        background:$eapp-red-lightest;
			border-color:$eapp-red-light;
			> i {
				background-color:$eapp-red;
			}
        }
    }
}
