.diagnoses {
  .summary {
    .left {
      .content {
        .index {
          padding-right: 1rem;
        }
        .diagnosisdate {
          float: right;
          height: 4.9rem;
        }
      }
    }
  }
}
