.diagnosis {
  .condition {
    width: 92%;
    max-width: 64rem;
    display: inline-block;
  }
  h2 {
    margin-top: 5rem;
  }
  .person,
  .facility {
    .field > .title {
      margin-top: 3rem;
    }
  }
}
