@import 'eqip-colors';

.section-view {
  max-width: 70rem;

  hr.section-divider {
    border-bottom: 2px solid #e2e7ef;
    height: 2px;
    color: #e2e7ef;
    background: #e2e7ef;
    font-size: 0;
    border: 0;
    margin-top: -3rem;
    margin-bottom: 12rem;
  }

  .btn-wrap {
    display: block;
    width: 100%;

    .btn-container {
      display: flex;

      .btn-cell,
      .btn-spacer {
        display: inline-block;
        vertical-align: middle;
      }

      .btn-cell {
        width: 30%;
      }

      .btn-spacer {
        width: 40%;
      }

      .btn-cell.back,
      .btn-cell.next {
        border-radius: 3px;
        transition: background-color 0.3s;
        background-color: $eapp-blue;
        margin: 0;
        line-height: normal !important;
        padding: 1.5rem 2rem;

        .next {
          text-align: right;
        }

        &:hover {
          background-color: $eapp-blue-dark;
        }

        .actions {
          display: table;
          width: 100%;

          .direction {
            font-weight: 600;
          }

          .text,
          .icon {
            display: table-cell;
            vertical-align: middle;
          }

          .icon {
            width: 2.4rem;
          }

          &.next {
            text-align: right;
          }

          &.back {
            text-align: left;
          }
        }
      }

      .label {
        font-weight: normal;
        min-height: 2rem;
      }
    }
  }

  .top-btns {
    margin: 4.6rem -17.5%;
    padding: 0 17.5%;
    border-bottom: 2px solid #e2e7ef;

    .btn-wrap {
      padding-bottom: 7rem;
    }
  }

  .bottom-btns {
    margin: 4.6rem -17.5%;
    padding: 0 17.5%;
    border-top: 2px solid #e2e7ef;

    .btn-wrap {
      padding-top: 7rem;
    }
  }
}
