@import 'eqip-colors';

.section-view {
  max-width: 80rem;

  hr.section-divider {
    height: 2px;
    background: #e2e7ef;
    font-size: 0;
    border: 0;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .btn-wrap {

    .btn-container {
      display: flex;

      .btn-cell,
      .btn-spacer {
        display: inline-block;
        vertical-align: middle;
      }

      .btn-cell {
        color: $color-white;
        text-decoration: none;
        width: 30%;
      }

      .btn-spacer {
        width: 40%;
      }

      .btn-cell.back,
      .btn-cell.next {
        border-radius: 3px;
        transition: background-color 0.3s;
        background-color: $eapp-blue;
        margin: 0;
        line-height: normal !important;
        padding: 1.5rem 2rem;

        .next {
          text-align: right;
        }

        &:hover {
          background-color: $eapp-blue-dark;
        }

        .actions {
          display: table;
          width: 100%;

          .direction {
            font-weight: 600;
          }

          .text,
          .icon {
            display: table-cell;
            vertical-align: middle;
          }

          .icon {
            width: 2.4rem;
          }

          &.next {
            text-align: right;
          }

          &.back {
            text-align: left;
          }
        }
      }

      .label {
        font-weight: normal;
        min-height: 2rem;
      }
    }
  }

  .top-btns {
    border-bottom: 2px solid #e2e7ef;
    margin: 4.6rem 0 !important;
    padding: 0 !important;

    .btn-wrap {
      padding-bottom: 7rem;
    }
  }

  .bottom-btns {
    border-top: 2px solid #e2e7ef;
    margin: 4.6rem 0 !important;
    padding: 0 !important;

    .btn-wrap {
      padding-top: 3rem;
    }
  }
}

.section-header {
  border-bottom: 2px solid $color-gray-lighter;
  padding: 1.5rem 0 2rem 0;
  margin-top: 0;
  margin-bottom: 4rem;
}
