@import 'eqip-colors';

.collection {
  .summary {
    display: table;
    width: 100%;
    background-color: $eapp-grey-light;
    padding: 3rem 4rem;

    .title {
      display: table-caption;
      background-color: $eapp-grey-light;
      padding: 0 4rem;

      h4 {
        padding: 0;
      }

      hr {
        border: 0;
        height: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid $eapp-grey;
      }
    }

    &.closed {
      .divider {
        display: table-row;

        hr {
          border: 0;
          height: 0;
          border-top: 1px solid rgba(0, 0, 0, 0.1);
          border-bottom: 1px solid $eapp-grey;
          margin-right: -5rem;
          margin-top: 3rem;
          margin-bottom: -3rem;
        }
      }
    }

    &.closed.last {
      .divider {
        hr {
          margin-bottom: auto;
        }
      }
    }

    &.open {
      .divider {
        display: none;
        visibility: hidden;
      }
    }

    a {
      display: table-row;
      text-decoration: none;
    }

    .brief {
      display: table-cell;
      color: $eapp-blue-light;

      .table {
        display: table;
        width: 100%;
      }

      .table-cell {
        display: table-cell;
      }

      .dates {
        width: 10rem;
        text-align: right;
      }
    }

    .expander {
      display: table-cell;
      width: 5rem;
      text-align: right;
      color: #000;
    }
  }

  button.add {
    line-height: normal !important;
    max-width: 50%;
    padding: 2rem;
    display: table;
    margin-top: 4.9rem;
    margin-right: auto;
    margin-left: auto;

    span {
      display: table-cell;
      width: 100%;
    }

    i {
      width: 3.25rem;
      display: table-cell;
      vertical-align: middle;
    }
  }

  .details {
    &.gutters {
      border: 4px solid $eapp-grey-light;
      padding-left: 4rem;
      padding-right: 4rem;

      h1,
      h2,
      h3,
      h4 {
        padding: 0;
      }

      .eapp-field-wrap {
        padding: 0;
      }

      .option-list {
        max-width: 92%;
      }
    }

    .byline {
      text-align: right;
      padding-top: 1rem;

      &.bottom {
        border-bottom: 2px solid $eapp-grey;
        padding-bottom: 1rem;
        margin-bottom: 2rem;
      }

      a.remove {
        display: inline-block;
        text-decoration: none;
        color: $eapp-red;

        span {
          margin-right: 1rem;
        }
      }

      a.toggle {
        display: inline-block;
        text-decoration: none;
        color: $eapp-blue;

        span {
          margin-right: 1rem;
          border-bottom: 1px $eapp-blue dashed;
        }
      }
    }
  }
}
