@import 'eqip-colors';

.collection {
    .summary {
        display: table;
        width: 100%;
        background-color: $eapp-grey-light;
        padding: 2rem 4rem 3rem 4rem;

        .title {
            display: table-caption;
            background-color: $eapp-grey-light;
            padding: 0 4rem;

            hr {
                border: 0;
                height: 0;
                border-top: 1px solid rgba(0, 0, 0, 0.1);
                border-bottom: 1px solid $eapp-grey;
            }
        }

        a {
            display: table-row;
            text-decoration: none;
        }

        .brief {
            display: table-cell;
            color: $eapp-blue-light;

            .table {
                display: table;
                width: 100%
            }

            .table-cell {
                display: table-cell;
            }

            .index {}

            .dates {
                width: 10rem;
            }
        }

        .expander {
            display: table-cell;
            width: 5rem;
            text-align: right;
            color: #000;
        }
    }

    button.add {
        line-height: normal !important;
        min-width: 30rem;
        padding: 2rem;
        display: table;
        margin-right: auto;
        margin-left: auto;

        span {
            display: table-cell;
            width: 100%;
        }

        i {
            width: 3.25rem;
            display: table-cell;
            vertical-align: middle;
        }
    }

    .details {
        &.gutters {
            padding-left: 4rem;
            padding-right: 4rem;
        }

        .byline {
            text-align: right;
            margin-top: 4.9rem;
            padding-top: 1rem;
            border-top: 2px solid $eapp-grey-light;

            a.remove {
                display: inline-block;
                text-decoration: none;
                color: $eapp-red;

                span {
                    margin-right: 1rem;
                }
            }
        }
    }
}
