.ssn {
  display: inline-block;
  width: auto !important;

  .first {
    width: 9rem !important;
    display: inline-block;
  }

  .middle {
    width: 8rem !important;
    display: inline-block;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .last {
    width: 10rem !important;
    display: inline-block;
  }
}


