.bankruptcy {
    .petition-type,
    .courtnumber,
    .datecontrol,
    .datedischarged,
    .datefiled,
    .amount,
    .fa-dollar,
    .namedebt,
    .trustee,
    .courtinvolved {
        display: inline-block;
    }

    .amount {
        padding-left: 1rem;
    }

    .collection {
        .summary {
            .brief {
                .index {
                    width: 10.5rem;
                }
            }
        }
    }
}
