.other-names {
    .maiden-name,
    .daterange,
    .reason {
        display: inline-block;
    }

    .reason {
        width: 90%;
        max-width: 64rem !important;

        input {
            width: 100% !important;
            max-width: 64rem !important;
        }
    }

    .maiden-name {
        .option-list {
            max-width: none !important;
        }
    }

    .used-help-icon {
        margin-top: 1.5rem;
        margin-left: -13.8rem;
    }

    .collection {
        .summary {
            .brief {
                .index {
                    width: 7rem;
                }
            }
        }
    }
}
