.verify {
  .verify-data .component span {
    display: block;
  }

  .usa-button {
    padding: 1.8rem;

    i {
      padding-left: 1rem;
    }
  }

  .no-margin-bottom {
    margin-bottom: 0 !important;
  }
}

.signature {
  margin-top: 4rem;
  margin-bottom: 4rem;

  .fullname {
    margin-bottom: 2rem;
  }
}
