.history {
  .employment-activity {
    .block label {
      height: 12rem;
      width: 18rem;
      padding-top: 2rem;
      line-height: 1.4 !important;
    }
  }

  .employment-activity-federal-contractor,
  .employment-activity-self,
  .employment-activity-unemployment,
  .employment-activity-other {
    &.block label {
      padding-top: 2.5rem;
    }
  }

  // Hack
  .employment-activity-state-government,
  .employment-activity-nongovernment {
    &.block label {
      padding-top: 0;
    }
  }


  .employment-left {
    .block label {
      height: 8rem !important;
      width: 24rem !important;
    }
  }
}
