.employment {
  .collection {
    .table-cell.dates {
      width: 16rem;
    }

    .table-cell.employer {
      width: 28rem;
    }
  }

  .employment-status {
    label {
      padding-left: 8rem;
      padding-right: 8rem;
    }
  }

  .employment-activity {
    label {
      height: 8rem;
      width: 26rem;
      padding-top: 2rem;
    }
  }

  .additional-activity {
    margin-bottom: 10rem;
  }

  .daterange, .text, .employment-activity {
    display: inline-block;
    width: 92%;
  }
}
