.history {
  .employment-status {
    label {
      padding-left: 8rem;
      padding-right: 8rem;
    }
  }

  .employment-left {
    label {
      height: 8rem;
      width: 24rem;
      padding-top: 2rem;
    }
  }

  .explanation-left {
    padding-top: 5rem !important;
  }

  .date-left {
    line-height: initial !important;
    padding-top: 5rem !important;

    > label {
      position: relative;
      padding-bottom: 2rem;
    }
  }

  .employment-activity {
    .option-list {
      max-width: 92% !important;
    }

    label {
      height: 8rem;
      width: 24rem;
      padding-top: 2rem;
    }

    .other {
      display: inline-block;
      width: 92%;
      padding-top: 2rem;
    }
  }

  .additional-activity {
    margin-bottom: 10rem;
  }

  .daterange, .text, .employment-activity {
    display: inline-block;
  }

  .full-width,
  .reason-description {
    display: inline-block;
    width: 92%;
    max-width: 64rem;
  }
}
