.history {
  .employment-activity {
    .block label {
      height: 8rem;
      width: 24rem;
      padding-top: 2rem;
    }
  }

  .employment-left {
    .block label {
      height: 8rem !important;
      width: 24rem !important;
    }
  }
}
