.gambling {
    .summary {
        .brief {
            .table {
                display: table;
                width: 100%
            }

            .table-cell {
                display: table-cell;
            }

            .index {
                width: 6rem;
            }

            .dates {
                width: 10rem;
            }
        }
    }

    .details {
        .daterange,
        .losses,
        .description,
        .actions {
            display: inline-block;
        }

        .description,
        .actions {
            width: 90%;
            max-width: 64rem !important;

            input {
                width: 100% !important;
                max-width: 64rem !important;
            }
        }

        .losses {
            max-width: 10rem;
            padding-left: 1rem;

            label {
                margin-left: 1rem;
            }
        }

        .fa.fa-dollar {
            margin-left: -2rem;
        }

        .dates-help-icon {
            margin-top: 1.5rem;
            margin-left: -13.8rem;
        }
    }
}
