.foreign-born-documents {
  .born {
    label {
      width: 26rem;
      padding: 1rem;
    }
  }

  .naturalized,
  .derived,
  .notcitizen {
    label {
      width: 26rem;
      height: 12rem;
      padding: 1rem;
      line-height: 9rem !important;
      span {
        line-height: normal;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }

  .other {
    label {
      width: 28rem;
      padding: 1rem;
    }
  }
}
