.foreign-born-documents {
  .born {
    label {
      width: 26rem !important;
      height: 10rem;
    }
  }

  .naturalized,
  .derived,
  .notcitizen {
    label {
      width: 26rem !important;
    }
  }

  .alien {
    label > span > div {
      top: 10%;
    }
  }

  .student,
  .exchange,
  .certificate {
    label > span > div {
      top: 25%;
    }
  }

  .other {
    label {
      width: 26rem !important;
      height: 10rem;
    }
  }
}
