// The default radio buttons are modified from the USWDS to appear
// more like checkboxes as per the design. These styles were taken
// from the USWDS source.
[type='radio'] + label::before {
  box-shadow: 0 0 0 2px #fff, 0 0 0 3px #757575;
  height: 1.6rem;
  line-height: 1.6rem;
  width: 1.6rem;
  border-radius: 0.3rem;
}

[type='radio']:checked + label::before {
  background-image: url('../img/correct8.png');
  background-image: url('../img/correct8.svg');
  background-position: 50%;
  background-repeat: no-repeat;
}

[type='radio']:focus + label::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 3px #0071bc;
}

[type='radio']:disabled + label {
  color: $color-gray;
}
