input[type='radio'] + label::before {
  position: absolute;
  margin-top: 6px;
}

input[type='radio'].selected + label::before {
  box-shadow: 0 0 0 2px $color-white, 0 0 0 4px $color-gray-extra-lightest;
  background-color: $color-gray-extra-lightest;
}
 
.block input[type='radio'].selected + label {
  background: $color-green;
  border-color: $color-green;
  color: $color-white;
}

input[type='radio'] + label span {
  margin-left: 2.5rem;
}
