input[type='radio'] + label::before {
  position: absolute;
  margin-top: 4px;
}

input[type='radio'].selected + label::before {
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px $color-primary;
  background-color: $color-primary;
}

.block input[type='radio'].selected + label {
  background: $color-green-light;
  border-color: $color-green;
  color: $color-white;
}

input[type='radio'] + label span {
	margin-left: 2.5rem;
}