[type='radio'] + label::before {
  position: absolute;
  margin-top: 6px;
}

[type='radio'].selected + label::before {
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px $color-primary;
  background-color: $color-primary;
}

[type='radio'].selected + label {
  background: $color-primary-alt-lightest;
  border-color: $color-primary-alt-dark;
}
