.gap {
  border-right: 0.4rem solid #fff !important;
  border-left: 0.4rem solid #fff !important;

  .help {
    padding-top: 1rem;

    .message {
      width: 100%;
    }
  }

  .dates {
    float: right;
  }

  h1,
  h2,
  h3,
  h4 {
    padding: 0 !important;
    margin-top: 0;
    display: inline-block;
  }

  p {
    padding: 0 !important;
  }

  button {
    margin: 0 !important;

    i {
      margin-left: 1rem;
    }
  }
}
