.gap {
  .help {
    .message {
      width: 100%;
    }
  }

  .dates {
    float: right;
  }

  h1,
  h2,
  h3,
  h4 {
    padding: 0 !important;
    margin-top: 0;
    display: inline-block;
  }

  p {
    padding: 0 !important;
  }

  button {
    i {
      margin-left: 1rem;
    }
  }
}
