@import 'eqip-colors';

.history {
  .view-review {
    .section-heading {
      font-weight: 600;
      color: $eapp-grey-darker;
      padding: 1rem 0;
      margin-bottom: 1rem;
      display: block;

      > .svg {
        width: 4.6rem;
        height: 4.6rem;
        margin-right: 1rem;
        vertical-align: middle;
      }
    }
  }

  .add-options {
    margin-top: 5rem;
    margin-bottom: 10rem;
    margin-left: 4rem;

    .btn {
      margin-top: 3rem;

      .fa.fa-plus-circle {
        margin-left: 1rem;
      }

      button {
        margin-right: auto;
        margin-left: auto;
      }
    }

    div.title {
      font-weight: bolder;
      color: #5c606c;
      margin-top: 1rem;
    }

    .svg {
      width: 8rem;
      height: auto;
    }

    .table {
      display: table;

      .table-cell {
        display: table-cell;
        width: 22rem;
        height: 16rem;
      }

      .add-employment {
        padding-left: 8rem;
      }

      .add-residence,
      .add-employment {
        text-align: center;
      }
    }
  }

  hr.section-divider {
    &:first-of-type {
      margin-top: 2rem;
    }
  }

  .not-complete {
    margin-bottom: 5rem;
  }
}
