@import 'eqip-colors';

.saved-indicator {
  position: fixed;
  right: 0;
  bottom: 45vh;
  font-size: smaller;
  text-align: center;
  color: $eapp-grey-darker;
  background-color: #fff;
  padding: 1rem 2rem;
  margin: 0;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.3);
  border-radius: 3px 0 0 3px;
  width: initial;

  &:active,
  &:hover {
    background-color: #fff;
    color: $eapp-grey-darker;

    i {
      background-color: $eapp-blue-dark;
    }
  }

  i {
    display: block;
    color: #fff;
    background-color: $eapp-blue;
    padding: 1.75rem;
    border-radius: 50%;
    font-size: 2.5rem;
  }

  strong {
    display: block;
  }

  span.time {
    display: block;
  }
}
