.education {
  .summary {
    .brief {
      .index {
        width: 10rem;

        .svg {
          height: 1.3rem;
          width: auto;
          margin-right: 1rem;
        }
      }
    }
  }

  .school-name {
    width: 92%;
    display: inline-block;
  }
}
