.physical {
    .height,
    .weight,
    .hair-colors,
    .eye-colors,
    .sex {
        display: inline-block;
    }

    .hair-colors,
    .eye-colors {
        width: 90%;
        max-width: 64rem !important;

        input {
            width: 100% !important;
            max-width: 64rem !important;
        }
    }

    &.hair-colors,
    &.eye-colors,
    &.sex {
		/* increase line height for help toggle alignment */
		> .help {
			line-height:7.8rem;
			.hair-colors,
			.eye-colors,
			.sex {
				line-height:4.6rem;
			}
		}
	}
	
    .hair-help-icon {
	    
    }
    .eye-help-icon {
	}
}
