@import 'eqip-colors';
@import 'eqip-fonts';

.login.eapp-core {
  margin: 0;
  padding: 0;
}

.login {
  a {
    color: $eapp-blue;
    text-decoration: none;
    border-bottom: 1px dotted $eapp-blue;
  }

  .content {
    width: 64rem;
    margin: 0 auto;
    padding-top: 3rem;
    padding-bottom: 2rem;
  }

  input {
    width: 100%;
    max-width: 100%;
  }

  h2 {
    margin-top: 1rem;
    font-size: 3rem;
  }

  .seal-header {
    background-color: $eapp-blue-darkest;

    h2 {
      color: #fff;
    }

    img {
      width: 15rem;
    }
  }

  .login-info {
    margin-bottom: 1rem;
  }

  .login-basic {
    margin-right: auto;
    margin-left: auto;
    clear: both;

    button {
      text-align: center;
      width: 15rem;
      height: 5rem;
    }

    .peek {
      width: 100%;
      text-align: right;
    }
  }

  .login-sso {
    clear: both;
    padding: 1rem;
    width: 100%;
    text-align: center;

    button,
    a {
      display: inline-block;
      color: #0071bc;
      padding-left: 0.5rem;
      padding-right: 0.5rem;

      span {
        text-decoration: none;
        border-bottom: 1px dotted #0071bc;
      }

      i {
        margin-left: 1rem;
      }
    }
  }

  .login-twofactor {
    margin-top: 1rem;
    padding: 2rem inherit 1rem;
    margin-right: auto;
    margin-left: auto;
    clear: both;
    float: none;
  }
}
