@import 'eqip-colors';

.relative-item {
  .smaller {
    display: block;
    font-size: smaller;
    margin-top: -0.5rem;
  }

  .up-a-bit {
    top: 25% !important;
  }

  .relative-citizenship {
    ul {
      padding: 0 0 0 2.2rem;

      li {
        padding-left: 1.2rem;
      }
    }
  }

  .relative-relation label,
  .relative-abroad label,
  .relative-naturalized label,
  .relative-derived label,
  .relative-methods label,
  .relative-frequency label,
  .relative-document label {
    height: 10rem;
    width: 18rem;
    overflow: hidden;

    > span {
      display: block;
      height: 100%;

      > div {
        position: relative;
        top: 35%;

        > p {
          padding: 0;
        }
      }
    }
  }

  .relative-abroad label {
    width: 15rem;
    height: 5rem;

    > span > div {
      top: 20%;
    }
  }

  .relative-naturalized label,
  .relative-derived label {
    width: 27rem;

    > span > div > p {
      line-height: 1.6;
    }
  }

  .relative-methods label {
    width: 19rem;

    > span > div > p {
      line-height: 1.6;
    }
  }

  .relative-document label {
    width: 30rem;
  }

  .more.title {
    color: $eapp-blue-dark;
  }

  .more.arrow {
    height: 8rem;
    margin-left: 25.25rem;
  }

  .help-icon-employer-address {
    margin-top: 13rem;
    margin-left: -3rem;
  }
}
