@import 'eqip-colors';

.relative-item {

  .relation-child > label > span {
    > div:not(:last-of-type) {
      top: 18%;
    }

    > div:not(:first-of-type) {
      margin-top: -3rem;
    }
  }

  .relative-abroad label,
  .relative-naturalized label,
  .relative-derived label,
  .relative-methods label,
  .relative-frequency label,
  .relative-document label {
    height: 10rem;
    width: 18rem;
    overflow: hidden;

    > span {
      display: block;
      height: 100%;

      > div {
        position: relative;
        top: 35%;

        > p {
          padding: 0;
        }
      }
    }
  }

  h3.relative-citizenship-documentation {
    margin-bottom: 2.1rem;
  }

  .relative-abroad label,
  .relative-naturalized label,
  .relative-derived label,
  .relative-document label {
    width: 27rem !important;
  }

  .relative-methods label {
    width: 19rem !important;
  }

  .methods-written > label > span > div {
    top: 25%;
  }

  .naturalized-alien,
  .derived-alien {
    > label > span > div:not(:last-of-type) {
      top: 20%;
    }

    > label > span > div:not(:first-of-type) {
      margin-top: -3.5rem;
    }
  }

  .more.title {
    color: $eapp-blue-dark;
  }

  .more.arrow {
    height: 8rem;
    margin-left: 25.25rem;
  }

  .help-icon-employer-address {
    margin-top: 13rem;
    margin-left: -3rem;
  }
}
