.history-collection {
  .index {
    width: 13rem;

    .svg {
      height: 1.3rem;
      width: auto;
      margin-right: 1rem;
    }
  }

  .dates {
    width: 12rem !important;
  }

  .option-list.create {
    label {
      width: 18rem;
    }
  }
}
