.history-collection {
    .fa.fa-briefcase {
        color: #5c606c;
    }
    .fa.fa-home {
        color: #17bdec;
    }

    .index {
        width: 13rem;
        .fa {
            margin-right: 1rem;
        }
    }
    .dates {
        width: 12rem !important;
    }

    .option-list.create {
        label {
            width: 18rem;
        }
    }
}
