@import 'eqip-colors';

.history-collection {
  margin-bottom: 5rem;

  .index {
    width: 13rem;

    .svg {
      height: 1.3rem;
      width: auto;
      margin-right: 1rem;
    }
  }

  .dates {
    width: 12rem !important;
  }

  .option-list.create {
    label {
      width: 18rem;
    }
  }

  .caption {
    padding-top: 0;
    padding-bottom: 0;

    .title {
      display: table-row;
    }
  }

  .incomplete {
    padding: 1rem 2rem;
    background: $eapp-red-lightest;
    border: 2px solid $eapp-red-light;
    margin: 1.3rem -5rem 0 0;
  }

  .gap {
    .help {
      .message {
        width: 100%;
      }
    }

    .dates {
      float: right;
    }

    h1,
    h2,
    h3,
    h4 {
      padding: 0 !important;
      margin-top: 0;
      display: inline-block;
    }

    p {
      padding: 0 !important;
    }

    button {
      i {
        margin-left: 1rem;
      }
    }
  }

  .add {
    display: initial !important;
    margin-left: 4rem !important;
  }
}
