@import 'eqip-colors';

.introduction-modal {
  z-index: 9999;

  &.closeable {
    .modal {
      .introduction-content {
        position: relative;

        @media only screen and (max-height: 800px) {
          height: 100vh;
          margin-top: 5vh !important;
          margin-bottom: 5vh !important;
        }

        .introduction-legal {
          max-height: 90vh;
        }

        .modal-close {
          position: absolute;
          top: -1.5rem;
          right: -1rem;
        }
      }
    }
  }

  .modal {
    .introduction-content {
      width: 50%;
      min-width: 100rem;
      padding: 0;
      border: none;
      box-shadow: none;

      .introduction-legal {
        overflow-y: scroll;
        max-height: 55vh;
        padding: 0 5rem;
        border: 2px solid $eapp-grey;

        hr {
          margin-top: 4rem;
        }

        div:nth-child(3) {
          padding-top: 1rem;
        }
        div:nth-child(9) {
          padding-top: 4rem;
        }
      }

      .introduction-acceptance {
        padding-top: 2rem;
        margin: 4rem 5rem 0 5rem;
        border-top: 1px solid $eapp-grey;
      }

      .field {
        .title {
          max-width: initial;
        }

        .table > .content > .component > div {
          max-width: initial;
        }
      }
    }
  }
}
