@import 'eqip-colors';

.introduction-modal {
  z-index: 9999;
}

.introduction-modal .modal {
  background-color: rgba(255, 255, 255, 0.95) !important;
  z-index: 9999;

  .introduction-content {
    width: 50%;
    min-width: 100rem;
    height: 90vh;
    margin-top: 5vh !important;
    margin-bottom: 5vh !important;
    padding: 0;
    border: none;
    box-shadow: none;

    @media only screen and (max-height: 850px) {
      height: 100vh;
      margin-top: 0 !important;
      margin-bottom: 0 !important;
    }

    .introduction-legal {
      overflow-y: scroll;
      max-height: 55vh;
      padding: 0 5rem;
      border: 2px solid $eapp-grey;

      hr {
        margin-top: 4rem;
      }
    }

    .introduction-acceptance {
      max-height: 40vh;
      padding-top: 2rem;
      margin: 4rem 5rem 0 5rem;
      border-top: 1px solid $eapp-grey;
    }

    .field {
      .title {
        max-width: initial;
      }

      .table > .content > .component > div {
        max-width: initial;
      }
    }
  }
}
