@import 'eqip-colors';

.comments {
  margin-top: 1rem;

  &.active {
    border-left: 0.75rem solid $eapp-grey-light;
    padding-left: 2rem;
    margin-left: -2.7rem;
  }

  .title {
    display: block;
    margin-top: 1rem;
    font-family: inherit;
    font-weight: normal;
    line-height: 1.6;
  }

  > a {
    i {
      margin-left: 1rem;

      &.fa-times-circle {
        color: $eapp-red;
      }
    }
  }
}
