.branch {
  margin-bottom: 2rem;

  .content {
    margin-bottom: 0.4rem;

    p {
      padding: 0 !important;
    }

    ul {
      margin-left: 0;
    }
  }

  .icon {
    vertical-align: bottom !important;

    .toggle {
      margin-bottom: 2.5rem;
    }
  }
}

.blocks.branch {
  display: flex;

  .block {
    width: 100%;
  }
}
