.received-counseling {
  .from-present {
    display: inline-block;
    vertical-align: top;
    padding-top: 2.5rem;
    width: auto !important;

    .or {
      display: inline-block;
      margin-top: 1rem;
      margin-right: 1rem;
      margin-left: 1rem;
    }

    .block label {
      width: 10rem;
    }
  }
}
