.marital {
  .status-options {
    label {
      width: 30rem;
      height: 11rem;
      padding: 1rem;
      line-height: 10rem !important;
      span {
        line-height: 1.4rem;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }

  .status {
    label {
      width: 30rem;
    }
  }
}
