.marital {
  .status-options > .block > label {
    width: 30rem !important;
    height: 13rem !important;
  }

  .status-never,
  .status-married {
    label > span > div {
      top: 10%;
    }
  }
}
