0.0.0.0 {
    tls off
    gzip
    log stdout
    errors stdout
    timeouts none

    proxy /api http://api:3000 {
        without /api
        transparent
    }

    browse /srv
    index index.html

    rewrite {
        if {path} not_has api/
        to {path} /index.html
    }
}
