0.0.0.0 {
    tls off
    gzip
    log stdout
    errors stdout
    timeouts none

    # browse /srv
    # index index.html
    root /srv

    # For HTML5 History API
    rewrite {
        if {path} not_has api/
        to {path} {path}/ /index.html
    }

    # For APIs
    proxy /api/ api:3000 {
        without /api
        transparent
    }
}
