@import 'eqip-colors';

.summary-progress {
  color: $eapp-grey-darker;
  margin-bottom: 4.9rem;

  .content {
    display: inline-block;
    width: 80%;

    .summary-icon {
      display: inline-block;
      height: 100%;
      width: auto;
      transition: all 0.3s;
      border-radius: 0;
      vertical-align: middle;

      svg,
      img {
        height: 4.6rem;
        width: 4.6rem;
        transition: all 0.3s;
      }
    }

    .title {
      padding-left: 1rem;
      font-weight: bolder;
    }

    .progress {
      position: relative;
      height: 0.7rem;
      background: $eapp-grey-lightest;

      .filled {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background: $eapp-green;
        width: 0;
        transition: width 0.8s;
      }

      .gap {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background: none;
        width: 0;
        transition: width 0.8s;
      }
    }
  }

  .stats {
    display: inline-block;
    width: 20%;
    text-align: center;
    vertical-align: bottom;

    .fraction {
      &.covered {
        color: $eapp-green;
      }

      .completed {
        font-weight: bold;
        font-size: 26pt;
      }

      .slash {
        font-weight: bold;
        font-size: 26pt;
      }

      .total {
        font-weight: bold;
        font-size: 26pt;
      }
    }

    .unit {
      font-weight: bold;
    }
  }
}
