.military-service {
  .status .block label,
  .officer .block label {
    width: 18rem !important;
    height: auto !important;
  }

  .service-icon,
  .discharge-type-icon {
    margin-left: -2rem;
    margin-top: 2rem;
  }

  .discharge-type-lessthan,
  .discharge-type-other {
    > label > span > div {
      top: 25%;
    }
  }
}
