.sticky {
  position: relative;

  .contents {
    position: absolute;
  }
}

.sidebar-top-fixed {
  position: fixed !important;
}

.sidebar-bottom-fixed {
  position: fixed !important;
  bottom: 0;
}

.sidebar-log {
  position: fixed;
  bottom: 30rem;
  right: 1rem;
  min-height: 23rem;
  min-width: 45rem;
  background-color: #000;
  color: #39e617;
  opacity: 0.8;
  padding: 1rem;
  border-radius: 4px;
  font-size: smaller;
  z-index: 3;
}

@keyframes navigation-top-fix {
  0% {
    margin-top: -5.4rem;
  }

  100% {
    margin-top: 0;
  }
}

@keyframes navigation-bottom-fix {
  0% {
    margin-bottom: -2rem;
  }

  100% {
    margin-bottom: 0;
  }
}

.eapp-navigation {
  .sticky .contents {
    width: 31.25rem;

    &.sidebar-top-fixed {
      top: 5.4rem;
      // animation-name: navigation-top-fix;
      // animation-duration: 0.5s;
      // animation-fill-mode: forwards;
      // animation-iteration-count: 1;
    }

    &.sidebar-bottom-fixed {
      // animation-name: navigation-bottom-fix;
      // animation-duration: 0.5s;
      // animation-fill-mode: forwards;
      // animation-iteration-count: 1;
    }
  }
}

@keyframes core-top-fix {
  0% {
    margin-top: -10rem;
  }

  100% {
    margin-top: 0;
  }
}

@keyframes core-bottom-fix {
  0% {
    margin-bottom: -2rem;
  }

  100% {
    margin-bottom: 0;
  }
}

.eapp-core {
  .sticky .contents {
    // &.sidebar-scrolling-up,
    // &.sidebar-scrolling-down,
    &.sidebar-top-fixed,
    &.sidebar-bottom-fixed {
      position: fixed !important;
      width: 44%;
      transition: top 100ms ease-in;
      transition: bottom 100ms ease-in;
    }

    &.sidebar-top-fixed {
      position: fixed !important;
      top: 10.5rem;
      bottom: unset;
    }

    &.sidebar-bottom-fixed {
      top: unset;
      bottom: 0;
    }
  }
}
