$fixed-width: 18.75%;
$fixed-top: 5.4rem;

.sticky-dipstick {
  position: static;
  display: block;
  margin-top: $fixed-top * -1;
}

.sticky-container {
  position: absolute;
  top: 0;
  margin-top: 18rem;
  width: 21%;
  min-width: 32rem;
  padding-left: 2rem;
  padding-right: 2rem;

  .sticky-content {
    position: relative;
  }

  &:not(.page-short) {
    &.bottom-visible.scrolled-down {
      .sticky-content {
        position: fixed;
        bottom: 1rem;
        width: $fixed-width;
        min-width: 28rem;
      }
    }

    &.bottom-visible.scrolled-up {
      .sticky-content {
        position: relative;
      }
    }

    &.both-visible {
      .sticky-content {
        position: fixed;
        top: $fixed-top;
        bottom: unset;
        width: $fixed-width;
        min-width: 28rem;
      }
    }

    &.top-visible.scrolled-up {
      .sticky-content {
        position: fixed;
        top: $fixed-top;
        bottom: unset;
        width: $fixed-width;
        min-width: 28rem;
      }
    }

    &.none-visible.scrolled-up {
      .sticky-content {
        position: relative;
      }
    }

    &.anchor-visible {
      .sticky-content {
        top: unset;
        bottom: unset;
      }
    }
  }
}
